{% extends "base.html" %}
{% load static %}

{% block styleHead %}

<style>
  .card-header{
    background-color: #d5e4f5  !important;
    padding: 0px;
    text-align: center;
  }
  .textheader{
    font-weight: bold;
  }
    .camposTable{
        padding:0px;
    }
    </style>
{% endblock %}

{% block conteudo %}

<div class="cabecalho-contas mb-2 ">

    <ol class="list-group ">
        Obra:
        
        <li class="list-group-item d-flex">
            <div class="col-1">
                {% if obra.imagem %}
                <img style="width: 5rem;" class="card-img-top" src="{{ obra.imagem.url }}" alt="Imagem de capa da obra">
                {% else %}
                    <img style="width: 5rem;" class="card-img-top" src="{% static 'imagens/logo1.png' %}" alt="Imagem de capa da obra">
                {% endif %}
            </div>
            <div class="col-md">
                <span style="font-size:14pt;font-weight: bold;"> 
                 {{obra.nome}} </span> <br> Contratante: {{obra.contratante}} <br>
                 Contrato nº: {{obra.num_contrato}}
             </div>
             <div class="col-md">
                Objeto: {{obra.objeto |upper}} 
            </div>
            
            <div class="col-md text-end">
                Início da Obra: {{obra.inicio}} <br>
                Previsão Fim: {{obra.fim}} <br>
                Fiscal: {{obra.fiscal}} <br>
                Gestor:
            </div>
        </li>
        
    </ol>
  
        <div class="d-flex align-items-center flex-row bd-highlight mb-1 ">
   
            <div class="p-2 bd-highlight">
                <a class="btn btn-sm btn-secondary m-2" href="{% url 'rdo_orden_servico' obra.pk ordem_atual.pk %}"><i class="fas fa-arrow-left"></i> Voltar</a>
        
            </div>
            <div class="p-2 bd-highlight">   
                <h5>Ordem de Serviço nº 000{{ordem_atual.numero_os}} <span style="color:gray">|</span> Situação: {{ordem_atual.get_situacao}}</h5> 
            </div> 

            <div class="">
                {% include "engenharia/fragmentos/menu_ordem_de_servico.html" %}
            </div>
        </div>
             
</div>
<div class="row card col-md-8 m-2">
    <div class=" text-center p-2" style="">
     <h5>Relatório de Diário de Obra - RDO nº 000{{rdo_atual.pk}} <span style="color:gray">|</span> Data: {{rdo_atual.data}}</h5> 
      <!-- Button EDITAR--> <a  style="margin-left:5px;" data-bs-toggle="modal" data-bs-target="#EditarRDO" href="modal" title="Editar Diário de Obra"><span><i class="fas fa-edit"></i></span></a> <!-- Button --> 
     <a  style="color:black;margin-left:5px;" href="#" target="_blank" title="Imprimir OS"><span><i class="fas fa-print"></i></span></a>
     <a  style="color:red; margin-left:5px;" data-bs-toggle="modal" data-bs-target="#ExcluirRDO" href="modal" title="Excluir Diário de Obra"><span><i class="fas fa-trash"></i></span></a>
    </div>
</div>

 <!-- Modal EDITAR-->
 <div class="modal fade" id="EditarRDO" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
 <div class="modal-dialog modal-dialog-scrollable modal-lg">
 <div class="modal-content" style="background-color:#edeef5">
     <div class="modal-header">
         <div class="d-flex flex-column bd-highlight">
             <h6 class="bd-highlight">Editar RDO nº 000{{rdo_atual.pk}}:</h6>
             Relatório Diário de Obra 
         </div>  
     <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
     </div>
     <div class="modal-body">

         <form id="formEditarRDO" class="row g-2" method="POST" action="{% url 'salvar_editar_rdo_orden_servico' obra.pk ordem_atual.pk rdo_atual.pk %}">
             <div class="mb-3">  
                 <div class="row">
                     <div class="col-3">
                         <strong>Data:</strong> <input value="{{rdo_atual.data |date:'Y-m-d'}}" type="date" class="form-control form-control-sm date enterDesabilitado" name="data_editar" id="input4" >
                     </div>
                     <div class="col-4 text-end"><strong>Tempo/Condições:</strong>
                         <br>
                         <small class="">Condição Climática do dia</small>
                      <br></div>
                     <div class="col-5">
                       
                         Manhã <input {% if rdo_atual.tempo_manha %} value='{{rdo_atual.tempo_manha}}'  {% endif %} type="text" name="tempo_manha_editar" class="form-control form-control-sm enterDesabilitado">
                         Tarde <input {% if rdo_atual.tempo_tarde %} value='{{rdo_atual.tempo_tarde}}'  {% endif %} type="text" name="tempo_tarde_editar" class="form-control form-control-sm enterDesabilitado">
                     </div>
                 </div> 

                 <span class="p-2"><hr></span>

                 <div class="row">
                        <div class="col-6">
                         <strong>Mão-de-Obra:</strong> <br>
                         <small class="">Indicar a quantidade de funcionários e prestadores de serviço.</small>
                         <textarea name="mao_de_obra_editar" rows="3" cols="50" class="form-control form-control-sm">{% if rdo_atual.mao_de_obra %}{{rdo_atual.mao_de_obra}}{% else %}{% endif %}</textarea>
                        </div>
                        <div class="col-6">
                         <strong>Equipamentos:</strong><br>
                         <small class="">Indicar a quantidade de Equipamentos disponíveis na obra.</small>  
                         <textarea name="equipamentos_editar" rows="3" cols="50" class="form-control form-control-sm">{% if rdo_atual.equipamentos %}{{rdo_atual.equipamentos}}{% else %}{% endif %}</textarea>
                        </div> 

                 </div>

                 <span class="p-2"><hr></span>

                 <div class="row">
                     <div class="col-12">
                         <strong>Atividades/Tarefas do dia:</strong> 
                         <br>
                         <small class="">Tarefas que estão em execução e finalizadas no dia.</small> 
                         <textarea name="atividades_editar" rows="5" cols="50" class="form-control form-control-sm">{% if rdo_atual.atividades %}{{rdo_atual.atividades}}{% else %}{% endif %}</textarea>
                     </div>
                 </div>
                 
                 <span class="p-2"><hr></span>
                 <div class="row">
                     <div class="col-12">
                         <strong>Ocorrências/Observações:</strong>
                         <br>
                         <small class="">Indicar as ocorrências do dia que precisam ser registradas.</small>
                         <textarea name="ocorrencias_editar" rows="5" cols="50" class="form-control form-control-sm">{% if rdo_atual.ocorrencias %}{{rdo_atual.ocorrencias}}{% else %}{% endif %}</textarea>
                 
                     </div>
                 </div>
             </div>
         </form>
             
     </div>
     <div class="modal-footer form-control" style="background-color:#edeef5">
     <button class="btn btn-sm btn-success" form="formEditarRDO">Salvar</button>   
     <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Fechar</button>
     
     </div>
 </div>
 </div>
 </div>
 <!-- Fim Modal -->  

 <!-- Modal EXCLUIR-->
 <div class="modal fade" id="ExcluirRDO" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content" style="">
        <div class="modal-header">
            <div class="d-flex flex-column bd-highlight">
                <h6 class="bd-highlight" style="color:red">Excluir RDO nº 000{{rdo_atual.pk}}:</h6>
                
            </div>  
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

            <form id="formExcluirRDO" class="row g-2" method="GET" action="{% url 'excluir_rdo_orden_servico' obra.pk ordem_atual.pk rdo_atual.pk %}">
               
                {% if rdo_atual.fotos %}
                    Atenção: Existem fotos neste RDO.
                    <div style="margin-left:5rem" class=" form-check">
                    <input name="excluir_fotos" class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                     <strong>DESEJA EXCLUIR FOTOS?</strong>
                    </label>
                  </div>
                
                {% else %}
                <strong>NÃO HÁ FOTOS!</strong>

                {% endif %}
               

            </form>
   
                           
        </div>
        <div class="modal-footer form-control" style="background-color:#edeef5">
            <button class="btn btn-sm btn-danger" form="formExcluirRDO">Excluir</button>     
        <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Fechar</button>
        
        </div>
    </div>
    </div>
    </div>
    <!-- Fim Modal -->  
<div class="row p-2">

    <div class="col-md-5">
        <!--CARD-->
        <div class="card" style="">
            <div class="card-header">
             <span class="textheader">Dados da Obra</span>
            </div>
            <div class="p-2">
                <table class="table table-sm camposTable">
                    <tbody>
                      <tr>
                        <th scope="row" style="width:20%;">Obra:</th>
                        <td>{{obra.nome}}</td>
                      </tr>
                      <tr>
                        <th scope="row">Cliente:</th>
                        <td>{{obra.contratante}}</td>
                      </tr>
                      <tr>
                        <th scope="row">Local:</th>
                        <td>{{ordem_atual.local.local}}</td>
                      </tr>
                      <tr>
                        <th scope="row">Endereço:</th>
                        <td>{{ordem_atual.local.endereco}}</td>
                      </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!--/CARD-->

    </div>

    <div class="col-md-3">

        <!--CARD-->
        <div class="card" style="">
            <div class="card-header">
                <span class="textheader">Data de Registro - {{rdo_atual.data |date:'d/m/Y'}}</span>
            </div>
        <div class="p-2">
            <table class="table table-sm">
                <tbody>
                    <tr>
                    <th scope="row">Diário de Obra nº:</th>
                    <td>000{{rdo_atual.pk}}</td>
                    </tr>
                    <tr>
                    <th scope="row">Contrato nº:</th>
                    <td>{{obra.num_contrato}}</td>
                    </tr>
                    <tr>
                    <th scope="row">Início da Obra:</th>
                    <td>{{obra.inicio}}</td>
                    </tr>
                    <tr>
                    <th scope="row">Previsão de Término:</th>
                    <td>{{obra.fim}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!--/CARD-->
    </div>
</div>

<div class="row p-2">

    <div class="col-md-5">
        <!--CARD-->
        <div class="card" style="">
            <div class="card-header">
             <span class="textheader">Ordem de Serviço</span>
            </div>
            <div class="p-2">
                <table class="table table-sm">
                    <tbody>
                      <tr>
                        <th scope="row" style="width:20%;">OS Nº:</th>
                        <td>000{{ordem_atual.numero_os}}</td>
                      </tr>
                      <tr>
                        <th scope="row">Data da Ordem:</th>
                        <td>{{ordem_atual.data_recebimento}}</td>
                      </tr>
                      <tr>
                        <th scope="row">Data de Início:</th>
                        <td>{{ordem_atual.data_inicio}}</td>
                      </tr>
                      <tr>
                        <th scope="row">Serviços:</th>
                        <td style="white-space: pre-wrap;">{{ordem_atual.servicos | safe}}</td>
                      </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!--/CARD-->
    </div>

    <div class="col-md-3">
        <!--CARD-->
        <div class="card" style="">
            <div class="card-header">
             <span class="textheader">Tempo/Condição</span>
            </div>
            <div class="p-2">
                <table class="table table-sm">
                    <tbody>
                      <tr>
                        <th scope="row">Manhã:</th>
                        <td>{{rdo_atual.tempo_manha}}</td>
                      </tr>
                      <tr>
                        <th scope="row">Tarde:</th>
                        <td>{{rdo_atual.tempo_tarde}}</td>
                      </tr>
                      
                    </tbody>
                </table>
            </div>
        </div>
        <!--/CARD-->
    </div>
</div>

<div class="row p-2">

    <div class="col-md-4">
        <!--CARD-->
        <div class="card" style="">
            <div class="card-header">
             <span class="textheader">Mão-de-Obra</span>
            </div>
            <div class="p-2">
                <table class="table table-sm">
                    <tbody>
                      <tr>
                        <td style="white-space: pre-wrap;">{{rdo_atual.mao_de_obra}}</td>
                      </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!--/CARD-->
    </div>

    <div class="col-md-4">
        <!--CARD-->
        <div class="card" style="">
            <div class="card-header">
             <span class="textheader">Equipamentos</span>
            </div>
            <div class="p-2">
                <table class="table table-sm">
                    <tbody>
                      <tr>
                        <td style="white-space: pre-wrap;">{{rdo_atual.equipamentos}}</td>
                      </tr>
                      
                    </tbody>
                </table>
            </div>
        </div>
        <!--/CARD-->
    </div>
</div>


<div class="row p-2">

    <div class="col-md-8">
        <!--CARD-->
        <div class="card" style="">
            <div class="card-header">
             <span class="textheader">Atividades</span>
            </div>
            <div class="p-2">
                <table class="table table-sm">
                    <tbody>
                      <tr>
                        <td style="white-space: pre-wrap;">{{rdo_atual.atividades}}</td>
                      </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!--/CARD-->
    </div>

</div>

<div class="row p-2">
    <div class="col-md-8">
        <!--CARD-->
        <div class="card" style="">
            <div class="card-header">
             <span class="textheader">Ocorrências e Observações</span>
            </div>
            <div class="p-2">
                <table class="table table-sm">
                    <tbody>
                      <tr>
                        <td style="white-space: pre-wrap;">{{rdo_atual.ocorrencias}}</td>
                      </tr>
                      
                    </tbody>
                </table>
            </div>
        </div>
        <!--/CARD-->
    </div>
</div>

<div class="row p-2">
    <div class="col-md-8">
        <!--CARD-->
        <div class="card" style="">
            <div class="card-header">
             <span class="textheader">Fotos  <!-- Button ADD IMAGEM-->
                <a style="margin:5px;" href="modal" class="" title="Adicionar Imagens" data-bs-toggle="modal" data-bs-target="#ModalCategoria{{cat.pk}}">
                   <i class="fas fa-plus"> Adicionar Fotos</i></a> </span>
            </div>
            <div class="p-2">
                <table class="table table-sm">
                    <tbody>
                      <tr>
                        {% if rdo_atual.fotos %}
                           
                        {% with rdo_atual.fotos.get_imagens_by_category as imagens %}

                        {% for im in imagens %}
                                                              
                        <!-- Button VER IMAGEM-->
                        <a href="modal" class="" data-bs-toggle="modal" data-bs-target="#ModalImagem{{im.pk}}">
                         <img src="{{im.imagem.url }}" class="card-img-top m-1" style="width: 100px; height: auto;">
                        </a>


                        <!-- Modal -->
                         <div class="modal fade" id="ModalImagem{{im.pk}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                             <div class="modal-dialog">
                             <div class="modal-content">
                                 <div class="modal-header">
                                     <div class="d-flex flex-column bd-highlight">
                                         <div class="bd-highlight" >Imagem: {{im.imagem.name}}</div>
                                         <div class="bd-highlight" >Categoria: {{im.categoria.categoria}}</div>
                                     </div>  
                                 <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                 </div>
                                 <div class="modal-body">
                                     <img src="{{im.imagem.url }}" class="card-img-top " style="">
                                 </div>
                                 <div class="modal-footer form-control">
                                    <a type="button" class="btn btn-sm btn-danger" href="{% url 'excluir_imagem_em_categoria' obra.pk ordem_atual.pk im.pk %}">Excluir</a>
                                    <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Fechar</button>
                                    </div>
                                 
                             </div>
                             
                             </div>
                         </div>
                         <!-- Fim Modal -->
                         {% endfor %}
                         {% endwith %}
                            
   

                 <!-- Modal -->
                 <div class="modal fade" id="ModalCategoria{{cat.pk}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <div class="d-flex flex-column bd-highlight">
                                <div class="bd-highlight" >Inserir Fotos:</div>
                            </div>  
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            
                            

                        <form id="formInserirImagensOs" enctype="multipart/form-data"
                                hx-post="{% url 'salvar_imagem_em_categoria' obra.pk ordem_atual.pk %}"
                                hx-target="body"
                                hx-trigger="submit"
                                hx-swap="outerHTML"> 
                            {% csrf_token %}
                            <div class="form-group row mb-2">
                                <input type="hidden" value="{{rdo_atual.pk}}" name="rdo_id">    
                                <div class="col-md">
                                    <label for="input2" class=""></label>
                                    <input type="file" name="imagem" class="form-control form-control-sm" accept="image/*" multiple /> 
                                    <small class="small-error" id="error_imagem"></small>
                                </div>
                            </div>
                        
                            {% for error in field.errors %}
                            <span class="help-block">{{ error }}</span>
                            {% endfor %}
                        </form>
                                                    
                        </div>
                        <div class="modal-footer form-control">
                        <button class="btn btn-p-sm btn-primary m-1" form="formInserirImagensOs">Salvar</button>
                        <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Fechar</button>
                       
                        </div>
                    </div>
                    </div>
                </div>
                <!-- Fim Modal -->  
                        {% endif %}
                      </tr>
                      
                    </tbody>
                </table>
            </div>
        </div>
        <!--/CARD-->
    </div>
</div>


<div class="mb-4"></div>



{% endblock%}


{% block jquery %}
<script>


</script>
{% endblock%}