{% extends "base.html" %}
{% load static %}

{% block styleHead %}

<style>
  
</style>
{% endblock %}

{% block conteudo %}

<div class="cabecalho-contas mb-2 ">

    <ol class="list-group ">
        Obra:
        
        <li class="list-group-item d-flex">
            <div class="col-1">
                <img style="width: 5rem" class="card-img-top" src="{% static 'imagens/logo1.png' %}" alt="Imagem de capa da obra">
            </div>
            <div class="col-md">
                <span style="font-size:14pt;font-weight: bold;"> 
                 {{obra.nome}} </span> <br> Contratante: {{obra.contratante}} <br>
                 Contrato nº: {{obra.num_contrato}}
             </div>
             <div class="col-md">
                Objeto: {{obra.objeto |upper}} 
            </div>
            
            <div class="col-md text-end">
                Início da Obra: {{obra.inicio}} <br>
                Previsão Fim: {{obra.fim}} <br>
                Fiscal: {{obra.fiscal}} <br>
                Gestor:
            </div>
        </li>
        
    </ol>

      
        
        
        <div class="d-flex align-items-center flex-row bd-highlight mb-1 ">
   
            <div class="p-2 bd-highlight">
                <a class="btn btn-sm btn-secondary m-2" href="{% url 'home_obra_os' obra.pk %}"><i class="fas fa-arrow-left"></i> Voltar</a>
        
            </div>
            <div class="p-2 bd-highlight">   
                <h5>Ordem de Serviço nº {{ordem_atual.numero_os}} <span style="color:gray">|</span> Situação: {{ordem_atual.get_situacao}}</h5>
            </div> 

            <div class="">
                <a  class="btn btn-sm btn-dark m-2" href="{% url 'home_obra_os' obra.pk %}" title="Ver Home ({{obra.nome}})"><i class="fas fa-home"></i></a>
                <a  class="btn btn-sm btn-dark m-2" href="#" target="_blank" title="Imprimir OS"><span style=""><i class="fas fa-print"></i></span></a>
                <a  class="btn btn-sm btn-dark m-2" href="{% url 'obra_imagens_os' obra.pk ordem_atual.pk %}" title="Ver/Anexar Fotos"><span style=""><i class="fas fa-images"></i></span></a>
                <a  class="btn btn-sm btn-dark m-2" href="{% url 'documentos_orden_servico' obra.pk ordem_atual.pk %}" title="Ver/Anexar Documentos"><span style=""><i class="fas fa-folder-open"></i></span></a>
                <a  class="btn btn-sm btn-dark m-2" href="{% url 'rdo_orden_servico' obra.pk ordem_atual.pk %}" title="Diários de Obra"><span style=""><i class="fas fa-calendar-check"></i></span></a>
                <a  class="btn btn-sm btn-primary m-2" href="{% url 'obra_editar_os' obra.pk ordem_atual.pk %}" title="Editar OS"><span style=""><i class="fas fa-edit"></i></span></a>
                <a  class="btn btn-sm btn-danger m-2" href="#" target="_blank" title="Excluir OS"><span style=""><i class="fas fa-trash"></i></span></a>
            </div>
           
       
        </div>
        
        <ol class="list-group " style="padding-left:1rem;padding-top:1rem">

            <h6 style=""><i class="far fa-list-alt"></i> Dados dos Serviço: <a type="button" href="{% url 'obra_editar_os' obra.pk ordem_atual.pk %}" class=""> <i class="fas fa-pen"></i></a></h6> 

            <li class="list-group-item align-items-start card">
                <div class="col-md p-1">
                    <div class="fw-bold">Serviços à Executar:</div>
                    {% if ordem_atual.servicos %}
                    <span style='white-space:pre'>{{ordem_atual.servicos | safe}}</span>
                    {% else %}
                    - {% endif %}
                </div>

                <div class=" d-flex p-1">
                    <div class="col-4">
                        <div class="fw-bold">Local/Unidade:</div>
                        {% if ordem_atual.local %}
                        <span style='white-space:pre'>{{ordem_atual.local.local}}</span>
                        {% else %}
                        [sem local] {% endif %}
                    </div>

                    <div class="col-md">
                        <div class="fw-bold">Endereço:</div>
                        {% if ordem_atual.local %}
                        <span style='white-space:pre'>{{ordem_atual.local.endereco }}</span>
                        {% else %}
                        [sem endereço] {% endif %}
                    </div>
                </div>

                <div class=" d-flex p-1">
                    
                    <div class="col-2">
                        <div class="fw-bold">Data de Recebimento:</div>
                            {% if ordem_atual.data_recebimento %}
                            <span style='white-space:pre'>{{ordem_atual.data_recebimento |date:'d/m/Y'}}</span>
                            {% else %}
                            - {% endif %}
                     </div>

                     <div class="col-2">
                        <div class="fw-bold">Data de Início:</div>
                            {% if ordem_atual.data_inicio %}
                            <span style='white-space:pre'>{{ordem_atual.data_inicio  |date:'d/m/Y' }}</span>
                            {% else %}
                            - {% endif %}
                    </div>
                    
                    <div class="col-2">
                        <div class="fw-bold">Prazo:</div>
                            {% if ordem_atual.data_prazo %}
                            <span style='white-space:pre'>{{ordem_atual.data_prazo  |date:'d/m/Y'}}</span>
                            {% else %}
                            - {% endif %}
                    </div>
                
                </div>
                
            </li>


            <h6 style="padding-top:1rem"><i class="fas fa-images"></i> Fotos do Serviço({{ordem_atual.get_imagens_by_os.count}}) <a type="button" href="{% url 'obra_imagens_os' obra.pk ordem_atual.pk %}" class=""> <i class="fas fa-plus"></i></a></h6>                  
            <div class="card">
                {% include 'engenharia/fragmentos/imagens_por_categoria_visualizador.html' %}
            </div>

                <div class="" style="padding-left:1rem;">
                    <h6 style="padding-top:1rem"><i class="fas fa-folder-open"></i> Documentos do Serviço({{ordem_atual.get_files_by_os.count}}) <a type="button" href="{% url 'documentos_orden_servico' obra.pk ordem_atual.pk %}" class=""> <i class="fas fa-plus"></i></a></h6>
                
                
                    <li class="list-group-item align-items-start card">
           
                        {% if arquivos %}                                            
                        <div class="fw-bold">Arquivos salvos:</div>
                        <table class="table table-sm table-bordered dt-responsive">
                                    
                            <tbody class="text-center">
                                
                                {% for item in arquivos %}
                                <tr class="">
                              
                                    <td class="text-start limitar" ><a class="link_os" href="{{item.file.url}}" download>{{item.extension |safe}}</a> {{item.nome}}
            
                                
                                    </tr>
                                {% endfor %}
                           
                            </tbody>
                    
                        </table>
                        {% else %} 
                        Sem arquivos.           
                        {% endif %}
                    </li>
                
                </div>

                
                <div class="" style="padding-left:1rem;">
                    <h6 style="padding-top:1rem"><i class="far fa-calendar-check"></i> Relatório Diário de Obra(0) <a type="button" href="{% url 'rdo_orden_servico' obra.pk ordem_atual.pk %}" class=""> <i class="fas fa-plus"></i></a></h6>
                
                
                    <li class="list-group-item align-items-start card">
           
                        {% if registros %}
                        
                        {% else %}
                        Sem Registros.
                        {% endif %}
                

                    </li>
                
                </div>

                
                
                
                

    </ol>
    


</div>

<div class="mb-4"></div>

{% endblock%}


{% block jquery %}
<script>

     //DatePicker
     $(".date").datepicker({
        format: "dd/mm/yyyy",
        todayHighlight: true,
        language: "pt-BR",
        container: '#modal1',
      });
    
      

    $('.money').mask('000.000.000,00', {
        reverse: true
    });

	//CANCELAR TECLA ENTER NO FORMULÁRIO
    window.document.onkeydown = CheckEnter;
    function CheckEnter(){
       if(event.keyCode == 13)
            return false;
       return true;
  
  }


	//DESATIVAR '.' (DOT) NOS INPUTS
	$(".nodot").on("keypress", function(evt) {
	 var keycode = evt.charCode || evt.keyCode;
	 if (keycode == 46) {
	 return false;
    }
        });

</script>
{% endblock%}