{% extends "base.html" %}
{% load widget_tweaks %}
{% load static %}

{% block styleHead %}
<link href="{% static 'css/image_preview.css' %}" rel="stylesheet">
<style>
  
</style>
{% endblock %}

{% block conteudo %}

<div class="cabecalho-contas mb-2">
    <ol class="list-group ">
        Obras em Andamento:
        <div class="d-flex flex-row bd-highlight mb-3">
        {% for obra in obras %}  
        
            <div class="card" style="width: 18rem; margin-right:1rem">
               
                    <img style="width: 14rem;padding:0.8rem" class="card-img-top" src="{% static 'imagens/logo1.png' %}" alt="Imagem de capa da obra">
             
                <div class="card-body">
                  <h5 class="card-title"> {{obra.nome}}</h5>
                  <p class="card-text">{{obra.contratante}}</p>
                  <a href="{% url 'home_obra_os' obra.pk %}" class="btn btn-primary">Ver Ordens</a>
                </div>
              </div>

       
        {% endfor %}
            </div>
    </ol>
    
</div>


{% endblock%}


{% block jquery %}
<script src="../static/js/datatables.min.js"></script>

<script>


</script>
{% endblock%}