{% extends "base.html" %}
{% load widget_tweaks %}
{% load static %}

{% block styleHead %}
<link href="{% static 'css/image_preview.css' %}" rel="stylesheet">
<style>
  
</style>
{% endblock %}

{% block conteudo %}

<div class="cabecalho-contas mb-2">
    <ol class="list-group ">
        Resumo do dia:
        <li class="list-group-item d-flex  justify-content-end mt-1 ">
            <div class="col-md">
               <span style="font-size:14pt; color:red"> Ordens de Serviço:</span> <br> Até {% now "d/F/Y" %}
            </div>
            <div class="col-md text-end">
                OS geradas: <h6 class="">00</h6>
            </div>
            <div class="col-md text-end">
                Serviços "Não Iniciado": <h6 class="">00</h6>
            </div>
            <div class="col-md text-end">
                Serviços "Em Andamento": <h6 class="">00</h6>
            </div>
            <div class="col-md text-end">
                Serviços "Finalizados": <h6 class="">00</h6>
            </div>

        </li>
    </ol>
    <ol class="list-group ">
        Ações:
        <li class="list-group-item d-flex">
            <div class="col-md">
                <a class="btn btn-success m-2" href="#"><i class="fas fa-plus"></i> Nova OS</a>
                <a class="btn btn-primary m-2" href="#"><i class="fas fa-angle-double-right"></i> Ver Todas</a>
                <a class="btn btn-secondary m-2" href="#"><i class="fas fa-search"></i> Procurar</a>
                <a class="btn btn-secondary m-2" href="#"><i class="far fa-file-alt"></i> Relatórios</a>
            </div>
        </li>
    </ol>

</div>
<div class="cabecalho-contas mb-2">
    Últimas Ordens Adicionadas:
    <ol class="list-group ">
        <li class="list-group-item d-flex  justify-content-end mt-1 ">
           
        </li>
    </ol>

</div>

{% endblock%}


{% block jquery %}
<script src="../static/js/datatables.min.js"></script>

<script>


</script>
{% endblock%}