{% extends "base.html" %}
{% load static %}

{% block styleHead %}
<link href="{% static 'css/image_preview.css' %}" rel="stylesheet">
<style>
   .link_tr:hover { 
        background: #d9f5fc; 
      
       
     }
    .link_os:hover { 
        text-decoration: none;
        color: black;

     } 
    .link_os { 
        display: block; 
        text-decoration: none;
        color: black;
     }
     .limitar {
        max-width: 200px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      } 
</style>
{% endblock %}

{% block conteudo %}

<div class="cabecalho-contas mb-2">
   
    {% include "engenharia/fragmentos/cabecalho_resumo_obras.html" %}


    <ol class="list-group ">

        <li class="list-group-item d-flex">
            <div class="col-md">
                <a class="btn btn-sm btn-secondary m-2" href="{% url 'home_engenharia' %}"><i class="fas fa-arrow-left"></i> Voltar</a>
                <a class="btn btn-sm btn-success m-2" href="{% url 'obra_nova_os' obra.pk %}"><i class="fas fa-plus"></i> Nova OS</a>
                <a class="btn btn-sm btn-primary m-2" href="{% url 'ver_todas_os_por_obra' obra.pk %}"><i class="fas fa-angle-double-right"></i> Ver Todas</a>
                <a class="btn btn-sm btn-secondary m-2 disabled" href="#"><i class="fas fa-search"></i> Procurar</a>
                <a class="btn btn-sm btn-secondary m-2 disabled" href="#"><i class="far fa-file-alt"></i> Relatórios</a>
                <a class="btn btn-sm btn-primary m-2" href="{% url 'ver_diario_obra_contrato' obra.pk %}" title="Diário de Obra Geral do Contrato"><i class="far fa-file-alt"></i> Diário de Obra Contrato</a>
            </div>
        </li>
    </ol>

</div>
<div class="cabecalho-contas mb-2">
    <strong> Últimas Ordens Adicionadas:</strong><br>
    <small class="">Abaixo últimas 10 Ordens de Serviços adicionadas, para mais, clique em [Ver Todas].</small> <br>
    <small class="">Clique em uma ordem abaixo para ver mais detalhes.</small>
    <ol class="list-group mt-2">

            <table class="table table-sm table-bordered dt-responsive" style="font-size:12px;">
                <thead style="border:solid 1px;border-color:silver;background:#0d6efd; color: white;" class="text-center">
                    <tr>
                        <th scope="col" class="limitar">OS nº</th>
                        <th scope="col" class="limitar">Data Recebimento</th>
                        <th scope="col">Serviço(s)</th>
                        <th scope="col" class="limitar">Local</th>
                        <th scope="col" class="limitar">Obs</th>
                        <th scope="col" class="limitar">Situação</th>
                        {% comment %} <th scope="col">Opções</th> {% endcomment %}
                    </tr>
                </thead>
                {% if ordens %}
                
                <tbody class="text-center" style="background:white">
                    {% for item in ordens %}
                    
                    <tr class="link_tr">
                        {% if item.numero_os %}<td class="limitar"><a class="link_os" href="{% url 'obra_detalhar_os' obra.pk item.pk %}">000{{item.numero_os}}</a></td>{% else %}<td> - </td>{% endif %}
                        {% if item.data_recebimento %}<td class="limitar"><a class="link_os" href="{% url 'obra_detalhar_os' obra.pk item.pk %}">{{item.data_recebimento}}</a></td>{% else %}<td> - </td>{% endif %}
                        {% if item.servicos %}<td class="text-start limitar"><a class="link_os" href="{% url 'obra_detalhar_os' obra.pk item.pk %}">{{item.servicos}}</td>{% else %}</a><td> - </td>{% endif %}
                        {% if item.local %}<td class="text-start limitar"><a class="link_os" href="{% url 'obra_detalhar_os' obra.pk item.pk %}">{{item.local.local}}</td>{% else %}</a><td> - </td>{% endif %}
                        {% if item.obs %}<td class="text-center limitar"><a class="link_os" href="{% url 'obra_detalhar_os' obra.pk item.pk %}">{{item.obs}}</td>{% else %}</a><td> - </td>{% endif %}
                        {% if item.situacao %}<td class="limitar"><a class="link_os" href="{% url 'obra_detalhar_os' obra.pk item.pk %}">{{item.get_situacao}}</td>{% else %}</a><td> - </td>{% endif %}               
                        {% comment %} <td><a href="#" title="Ver OS: #"><span style="color: DodgerBlue;"><i class="fas fa-pen-square fa-lg"></i></span></a></td>    {% endcomment %}
                    </tr>
                    
                    {% endfor %}
                </tbody>
                
                {% else %}
                <tbody class="text-center" style="background:white">
                    <tr class="link_tr">
                        <td colspan="5">Sem ordens!</td>
                    </tr>
                </tbody>
                {% endif %}
           
            </table>

    </ol>

</div>

{% endblock%}


{% block jquery %}
<script>

    
</script>
{% endblock%}