{% extends "base.html" %}
{% load widget_tweaks %}
{% load static %}

{% block styleHead %}
<link href="{% static 'css/image_preview.css' %}" rel="stylesheet">
<style>
  
</style>
{% endblock %}

{% block conteudo %}

<div class="cabecalho-contas mb-2">

    
    {% include "engenharia/fragmentos/cabecalho_resumo_obras.html" %}
  
    <ol class="list-group" style="padding-left:1rem;padding-top:1rem">

        <div class="d-flex align-items-center flex-row bd-highlight mb-1 ">
   
            <div class="p-2 bd-highlight">
                {% if not editar %}
                <a class="btn btn-sm btn-secondary m-2" href="{% url 'home_obra_os' obra.pk %}"><i class="fas fa-arrow-left"></i> Voltar</a>
                {% else %}
                <a class="btn btn-sm btn-secondary m-2" href="{% url 'obra_detalhar_os' obra.pk os.pk %}"><i class="fas fa-arrow-left"></i> Voltar</a>
                {% endif %}
        
            </div>
            <div class="p-2 bd-highlight">   
                <h5> {% if not editar %}
                    <div class="col-md"> <strong> Nova Ordem de Serviço: </strong> </div>
                    {% else %}
                    <div class="col-md"> <strong> Editar Ordem de Serviço nº {{os.numero_os}}</strong> </div>
                    {% endif %} </h5> 
            </div> 
            <button hx-ext="disable-element" id="savarOrdemServicoBtt" type="submit" class="btn btn-sm btn-success m-2" form="FormaddOsObras"><i class="fas fa-save"></i> Salvar</button>
            <a class="btn btn-sm btn-secondary m-2" href="#"><i class=""></i> Limpar</a>

        </div>
        
        
       <form id="FormaddOsObras" method="POST"  {% if editar %} action="{% url 'obra_salvar_editar_os' obra.pk  os.pk %}" {% else %} action="{% url 'obra_salvar_nova_os' obra.pk %}" {% endif %}> 
        <div class="form-group row mb-2">
           
            <div class="col-2">
                <label for="input4" class="">Data Recebida:</label>
                <input  {% if editar %} value="{{os.data_recebimento |date:'Y-m-d' }}" {% else %} value="{% now 'Y-m-d' %}" {% endif %} type="date" class="form-control form-control-sm date" name="data_recebida" id="input4" required="required">
                <small class="small-error" id="error_data_recebida"></small>
            </div>
            <div class="col-2">
                
                <label for="input0" class="">Situação:</label>
                <select id="input0" class="form-control form-control-sm"  name="situacao" >
                    {% if editar %}
                        {% for i in situacao %}
                            {% if i.0|stringformat:'s' == os.situacao %}
                                <option value="{{i.0}}" selected> {{i.1}}</option>
                            {% else %}
                                <option value="{{i.0}}"> {{i.1}}</option>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        {% for i in situacao %}
                        <option value="{{i.0}}"> {{i.1}}</option>
                        {% endfor %}
                    {% endif %}        
                </select>
            </div>

         </div>

        <div class="form-group row mb-2">

            <div class="col-2">
                <label for="input1" class="">OS número:</label>
                   <input {% if editar %} value="{{os.numero_os }}" {% endif %} 
                    type="number" class="form-control form-control-sm" name="num_os" id="input1" required="required"
                    hx-get="{% url 'hx_verificar_numero_os' %}"
                    hx-include="[name='num_os']"
                    hx-trigger="change"
                    hx-ext="disable-element"
                    hx-disable-element="#savarOrdemServicoBtt"
                    hx-target="#error_num_os"
                    hx-indicator="#htmx-indicator">
                   <small class="small-error" id="error_num_os"></small>
            </div>
        
            <div class="col-4">
                <label for="input3" class="">Local/Unidade:</label>
                <select id="input3" class="form-control form-control-sm"  name="local" 
                    hx-get="{% url 'get_locais' %}"
                    hx-include="[name='local']"
                    hx-target="#inputEndereco"
                    hx-indicator="#htmx-indicator">
                    {% if editar %}
                        {% for i in locais %}
                            <option value="{{i.pk}}"  {% if i.pk == os.local.pk %} selected {% endif %}> {{i.local}}</option>
                        {% endfor %}
                    {% else %}
                        {% for i in locais %}
                        <option value="{{i.pk}}"> {{i.local}}</option>
                        {% endfor %}
                    {% endif %}
                </select>
                <div id="htmx-indicator"></div>
                <div id="local_selecionado"></div>
            </div>
            
            
        </div>

        <div class="form-group row mb-2">
            <div class="col-6">
                <label for="input2" class="">Endereço:</label>
                {% include 'engenharia/fragmentos/endereco_input_fragment.html' %}
                   <small class="small-error" id="error_endereço"></small>
            </div>

        </div>

        <div class="form-group row mb-2">
            <div class="col-6">
                <label for="input3" class="">Serviços à Executar:</label>
                   <textarea id="input3" name="servicos" rows="5" cols="50" class="form-control form-control-sm">{% if editar %}{{os.servicos |safe}}{% endif %}</textarea>
                   <small class="small-error" id="error_servicos"></small>
            </div>

        </div>

        <div class="form-group row mb-2">
            
            <div class="col-2">
                <label for="input5" class="">Data Início:</label>
                <input {% if editar %} value="{{os.data_inicio |date:'Y-m-d' }}" {% endif %} type="date" class="form-control form-control-sm date" name="data_inicio" id="input5" required="required">
                <small class="small-error" id="error_data_inicio"></small>
            </div>

            <div class="col-2">
                <label for="input6" class="">Prazo:</label>
                <input {% if editar %} value="{{os.data_prazo |date:'Y-m-d' }}" {% endif %} type="date" class="form-control form-control-sm date" name="data_prazo" id="input6" required="required">
                <small class="small-error" id="error_data_prazo"></small>
            </div>

        </div>

            {% for error in field.errors %}
            <span class="help-block">{{ error }}</span>
            {% endfor %}
    </form>
    <div class="">
    </div>
</form>


    <div class="mb-4"></div>

</div>


{% endblock%}


{% block jquery %}
<script src="../static/js/datatables.min.js"></script>

<script>

     //DatePicker
     $(".date").datepicker({
        format: "dd/mm/yyyy",
        todayHighlight: true,
        language: "pt-BR",
        container: '#modal1',
      });
    
      

    $('.money').mask('000.000.000,00', {
        reverse: true
    });

	//CANCELAR TECLA ENTER NO FORMULÁRIO
    window.document.onkeydown = CheckEnter;
    function CheckEnter(){
       if(event.keyCode == 13)
            return false;
       return true;
  
  }


	//DESATIVAR '.' (DOT) NOS INPUTS
	$(".nodot").on("keypress", function(evt) {
	 var keycode = evt.charCode || evt.keyCode;
	 if (keycode == 46) {
	 return false;
	 }


</script>
{% endblock%}