{% load static %}

 <!-- Modal XXXXXXX-->
 <div class="modal fade" id="modalAddNovaFerramentaEstoquev2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg">
        <div class="modal-content " style="background-color:#edeef5">
            <div class="modal-header p-3">
                <div class="d-flex flex-column bd-highlight">
                    <h5 style="color:black" class="bd-highlight"><i class="fas fa-plus"></i> Nova Ferramenta/Máquina:</h5>
                    <small style="color:black" class="bd-highlight">Adicione novas ferramentas e/ou maquinários.</small>
                    
                    
                </div>  
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body p-3">
                <!-- modal-body --> 

                <div class="container">                 
                      
                     
                        <form id="formAddNovaFerramenta" 
                        hx-post="{% url 'add_nova_ferramenta_estoquev2' %}" 
                        hx-target="body" 
                        hx-swap="innerHTML" 
                        hx-indicator="#spinner"
                        style="line-height: normal; font-size:9pt" enctype="multipart/form-data">
                          {% csrf_token %}
                
                
                       
                        <div class="form-group row ">
                            <strong>Dados:</strong>
                      
                            <div class="col-5">
                             
                                <label for="inputDescricao" class="">Descrição:<span class="text-danger">*</span></label>
                                <input type="text" class="form-control form-control-sm" name="descricao">
                              
                    
                            </div>
                            <div class="col-4">
                             
                                <label for="inputmarca" class="">Marca:</label>
                                <input type="text" class="form-control form-control-sm" name="marca">
                             
                            </div>
                    
                            <div class="col-3">
                                
                                    <label for="input0" class="">Categoria:<span class="text-danger">*</span></label>
                                    <select id="input0" class="form-control form-control-sm"  name="categoria" >
                                            <option value="-1" disabled selected> Selecione</option>
                                            {% for i in categorias_ferramentas %}
                                            <option value="{{i.pk}}"> {{i.categoria}}</option>
                                            {% endfor %}      
                                    </select>
                               
                            </div>
                        </div> 
                        <div class="form-group row mt-2">
                            <strong>Características:</strong>
                                <div class="col-2">
                                 
                                    <label for="inputCor" class="">Cor:</label>
                                    <input type="text" class="form-control form-control-sm" name="cor">
                                  
                        
                                </div>
                                <div class="col-2">
                                 
                                    <label for="inputTamanho" class="">Tamanho:</label>
                                    <input type="text" class="form-control form-control-sm" name="tamanho">
                                 
                                </div>
                                <div class="col-3">
                                 
                                    <label for="inputNumeracao" class="">Código/Numeração:</label>
                                    <input type="text" class="form-control form-control-sm" name="numeracao">
                                 
                                </div>
                                <div class="col-2">
                                 
                                    <label for="inputPreço" class="">Preço:</label>
                                    <input type="number" step="any" min="0" class="form-control form-control-sm" name="preco">
                                 
                                </div>
                                <div class="col-3">
                                 
                                    <label for="inputEstado" class="">Estado:<span class="text-danger">*</span></label>
                                    <select id="inputEstado" class="form-control form-control-sm"  name="estado" required>
                                            <option value="-1" disabled selected> Selecione</option>
                                            {% for i in estados %}        
                                            <option value="{{i.0}}"> {{i.1}}</option>
                                            {% endfor %}      
                                    </select>
                                 
                                </div>
                        </div>
                        <div class=" form-group row mt-2">
                            <div class="col-3">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="radioAtivoSituacaoFerramenta" value="ATIVO" id="flexRadioDefault1" checked>
                                        <label class="form-check-label" for="flexRadioDefault1">
                                        Ativa
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="radioAtivoSituacaoFerramenta" value="MANUTENÇÃO" id="flexRadioDefault2" >
                                        <label class="form-check-label" for="flexRadioDefault2">
                                        Manutenção
                                        </label>
                                    </div>
                            </div>
                            <div class="col-5">
                                <div class="col-md">
                                    <label for="inputImagem" class="">Imagem:</label>
                                    <input type="file" name="imagemFerramenta" class="form-control form-control-sm" accept="image/*" /> 

                                </div>
                            </div>
                
                        </div>
                        <div class=" form-group row ">
                            <div class="col-12">
                                <strong>Observações:</strong>
                                <br>
                                <small class="">Indicar as observações que precisam ser registradas.</small>
                                <textarea name="obs" rows="2" cols="50" class="form-control form-control-sm"></textarea>
                        
                            </div>
                        </div>
                        
                    
                    </form>
                    
                </div>
            
              
                    
                    
                              

                <!-- Fim modal-body -->
            </div>
            <div class="modal-footer form-control" style="background-color:#edeef5">
                <small class="small-error" id="error_ferramenta"></small>
                {% include "utils/load_htmx_centralizado.html" %}
                <button class="btn btn-sm btn-primary" form="formAddNovaFerramenta"><i class="fas fa-plus"></i> Salvar </button>   
                <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Fechar</button>
            
            </div>
        </div>
    </div>
 </div>
 <!-- Fim Modal --> 