
 <div class="modal fade" id="alterarDatadevolucaoCautelaEstoquev2{{cautela_atual.pk}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered ">
        <div class="modal-content ">
            <div class="modal-header p-3">
                <div class="d-flex flex-column bd-highlight">
                    <h5 style="color:black" class="bd-highlight">Alterar Data/Hora de devolução (Cautela nº {{cautela_atual.pk}}) </h5>
                    
                    
                </div>  
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body p-3">
                <!-- modal-body --> 

                    <form id="alterarDataDevolucaoCautelaFerramenta"
                        hx-post="{% url 'alterar_data_devolucao_cautela' cautela_atual.pk %}"
                        hx-target="body" 
                        hx-push-url="true"
                        hx-indicator="#spinner"
                        hx-swap="innerHTML" >


                        <div class="row">
                            <div class="col-12">
                                <strong>Data e Hora:</strong>
                                <br>
                                <small class="">Alterar a data de devolução total ou parcial das Ferramentas.</small>
                            </div>
                            <div class="col-8">
                                
                                <input value='{% now "Y-m-d H:i"  %}' type="datetime-local" class="form-control form-control-sm date enterDesabilitado" name="data_hora" id="input4" required>

                            </div>

                        </div>
                    </form>

            

                <!-- Fim modal-body -->
            </div>
            <div class="modal-footer form-control">
                <small class="small-error" id="error_data_cautela"></small>
                {% include "utils/load_htmx_centralizado.html" %}
                <button class="btn btn-sm btn-success" form="alterarDataDevolucaoCautelaFerramenta"><i class="fas fa-save"></i> Salvar </button>
                <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Fechar</button>
            
            </div>
        </div>
    </div>
 </div>
 <!-- Fim Modal --> 