<div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">        
        <h5 class="modal-title" id="exampleModalLabel">Requisição nº {{reqID}}</h5>
        <button type="button" class="btn-close " data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

          <table class="table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Cód</th>
                  <th scope="col">Qtd</th>
                  <th scope="col">Und</th>
                  <th scope="col">Descrição</th>
                </tr>
              </thead>
            <tbody>
            {% for req, item in objects_itens %}
                <tr>
                  <td>{{forloop.counter}}</td>
                  <td>{{item.0}}</td>
                  <td>{{req.quantidade}}</td>
                  <td>{{item.2}}</td> 
                  <td>{{item.1}}</td>    
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <br>
        Total de itens: {{ size_list }}
      </div>
      <div class="modal-footer">
      
        <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-info " data-bs-dismiss="modal">Voltar</a>
      </div>
    </div>
</div>