{% extends "base.html" %}
{% load widget_tweaks %}
{% load static %}

{%block styleHead%}
<style>

</style>
{% endblock %}

{% block breadcrumb %}
  <div class="row">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="../">Início</a></li>
        <li class="breadcrumb-item active" aria-current="page">Inserir Itens - Requisicao nº {{ numId }}</li>
      </ol>
    </nav>
  </div>
{% endblock %}

{% block conteudo %}


<div class="row">
    <div class="titulo col-8">  
        <div class="row"><span style="font-size=14px; color:gray;font-style: italic;">Dados da Requisição</span>
        <hr></div>
        
    </div>
    {% comment %} BOTÕES DE VOLTAR E CONTINUAR {% endcomment %}
    <div class="col-4">
    <div class="d-flex justify-content-center ">
        <div class="btn-group ">
          <a href="{{ request.META.HTTP_REFERER }}"  class="btn btn-light">Voltar</a>
        </div>
      </div> 
    </div>
</div>

 
{% for item in obj %}
<div class="row container pb-2 well" style="background-color:rgb(230, 255, 255);padding-top:10px">
  
  <div class="col-md-6">
    <div class="row"><span>Obra:</span></div> 
    <div class="row"><span><strong>{{item.id}} - {{item.obra}}</strong></span></div> 
     <div class="row"><span>{{item.local}}</span></div> 
     <div class="row"><span>{{item.data | date:"d/m/Y"}}</span></div> 
  </div>

  <div class="col-md-6">
     <div class="row"><span>Solicitante:</span></div> 
     <div class="row"><span><strong>{{item.solicitante}}</strong></span></div> 
     <div class="row"><span>Almoxarife:</span></div> 
     <div class="row"><span><strong>{{item.almoxarife}}</strong></span></div> 
  </div>
{% endfor %}
</div>

<div class="row mt-2"><span style="font-size=14px; color:gray;font-style: italic;">Inserir Materiais</span><hr></div>

<!-- Button Modal -->
 <button type="button" class="btn btn-sm" data-bs-toggle="modal"
    data-bs-target="#exampleModal">
    <span style="color: tomato;">ADICIONAR ITENS</span>
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Adicionar Itens</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                
<form method="post" id="form_filtro" data-url="{% url 'estoque-filter' %}">
  {% csrf_token %}

  {% for hidden_field in form.hidden_fields %}
  {{ hidden_field }}
  {% endfor %}


  <div class="form-group row mb-3">
    <div class="col-7">
      <div class="input-group">
        <div class="input-group-text">Descrição:</div>
        {% render_field filter.form.descricao class="form-control " name="descricao"%}
      </div>
    </div>
    <div class="col-5">
      <div class="input-group">
        <div class="input-group-text">Marca:</div>
        {% render_field filter.form.marca class="form-control" name="marca"%}
      </div>
    </div>
  </div>

<div class="form-group row mb-3">
    <div class="col-5">
      <div class="input-group">
        <div class="input-group-text">Categoria:</div>
        {% render_field filter.form.item__categoria class="form-control" name="categoria"%}
      </div>
    </div>
  <div class="col-7">
    <div class="input-group">
      <div class="input-group-text">Fornecedor:</div>
      {% render_field filter.form.item__fornecedor class="form-control" name="fornecedor"%}
    </div>
  </div>
</div>

  <div class="d-flex justify-content-end">
    <input class="btn btn-sm btn-info m-2" id="button_filtro" value="Filtrar" />
    {% comment %} <a class="btn btn-sm btn-light m-2" href="{% url 'ver-estoque' %}">Limpar Campos</a> {% endcomment %}
  </div>

</form>

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Item</th>
        <th scope="col">Marca</th>
        <th scope="col">Categoria</th>
        <th scope="col">Fornecedor</th>
        <th scope="col">Quantidade</th>
        <th scope="col">Und</th>
        <th scope="col">Ações</th>
      </tr>
    </thead>
    <tbody id="estoque-table">
    </tbody>
</table>
                
       
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info btn-sm" data-bs-dismiss="modal">Sair</button>
                {% comment %} <button form="form_excluir" type="submit" class="btn btn-danger btn-sm">Excluir</button> {% endcomment %}
            </div>
        </div>
    </div>
</div>



{% endblock%}

{% block jquery %}
  <script src="../static/js/datatables.min.js"></script>
  <script src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>
  <script src="{% static 'js/bootstrap-datepicker.pt-BR.min.js' %}"></script>
  <script src="{% static 'js/jquery.mask.js' %}"></script>

<script>
 $(document).ready(function () {

    $('#button_filtro').click( function(e) {
        e.preventDefault();
        var serializeData =  $("#form_filtro").serialize();
        $('#estoque-table').html('')
         
        $.ajax({
            type: "post",
            url: $('#form_filtro').data('url'),
            data: serializeData, 
            success: function(response) {
           
                for (let i = 0; i < response.filter.length; i++){
                  $('#estoque-table').append(  
                  '<tr>'+
                    '<td>'+response.filter[i][1]+'</td>'+
                    '<td>'+response.filter[i][2]+'</td>'+
                    '<td>'+response.filter[i][3]+'</td>'+
                    '<td>'+response.filter[i][4]+'</td>'+
                    '<td>'+response.filter[i][5]+'</td>'+
                    '<td>'+response.filter[i][7]+'</td>'+
                    '<td>'+response.filter[i][6]+'</td>'+
                    '<td><a href="" >Add</a> </td>'+
                  '</tr>'
                  );
                }

        }
        });
    });
 });

</script>

{% endblock%}