{% extends "base.html" %}
{% load widget_tweaks %}
{% load static %}

{% block breadcrumb %}
<div class="row">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/">Inicio</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Ver Evento</li>
        </ol>
    </nav>
</div>
{% endblock %}

{% block conteudo %}

<div class="row" id="ver-tarefa-detalhes">
    {% include "tarefas/fragmentos/ver-tarefa-detalhes.html" %}
    
</div>

{% endblock %}