{% extends "base.html" %}
{% load widget_tweaks %}
{% load static %}

{% block breadcrumb %}
<div class="row">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/">Inicio</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Ver Tarefa</li>
        </ol>
    </nav>
</div>
{% endblock %}

{% block conteudo %}

<div class="row">
    <div class="col-4">
        <h5> Evento: <span class="fw-bold">{{tarefa.titulo}}</span></h5>
        <ol class="list-group mb-2">
           
            <li class="list-group-item d-flex justify-content-between align-items-start border-dark">
                <div class="ms-2 me-auto">
                    {% if tarefa.descricao %}
                    Descrição:
                    <div class="fw-bold">{{tarefa.descricao}}</div>
                    {% else %}
                    Descrição:
                    <div class="fw-bold"> - </div>   
                    {% endif %}
                </div>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-start border-dark">
                <div class="ms-2 me-auto">
                    {% if tarefa.data_inclusao %}
                    Data Início:
                    <div class="fw-bold">{{tarefa.data_inclusao}}</div>
                    {% else %}
                    Data Início:
                    <div class="fw-bold"> - </div>   
                    {% endif %}
                </div>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-start border-dark">
                <div class="ms-2 me-auto">
                    {% if tarefa.data_conclusao %}
                    Data Fim:
                    <div class="fw-bold">{{tarefa.data_conclusao}}</div>
                    {% else %}
                    Data Fim:
                    <div class="fw-bold"> - </div>   
                    {% endif %}
                </div>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-start border-dark">
                <div class="ms-2 me-auto">
                    {% if tarefa.usuario.username %}
                    Usuário:
                    <div class="fw-bold">{{tarefa.usuario.username}}</div>
                    {% else %}
                    Usuário:
                    <div class="fw-bold"> - </div>   
                    {% endif %}
                </div>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-start border-dark">
                <div class="ms-2 me-auto">
                Opções:
                <div class="fw-bold"><a href="#"> Marcar como: Evento já Realizado!</a></div>
                <div class="fw-bold"> <a href="#">Editar</a></div>
                <div class="fw-bold"> <a href="#">Excluir</a></div>
                </div>
            </li>
            </ol>
    </div>
    <div class="col-8">
        <h5>Todos os <span class="fw-bold">Eventos:</span></h5>
         <ol class="list-group mb-2">
            <li class="list-group-item d-flex justify-content-between ">
                <div class="ms-2 me-auto">
                
                    <table class="table table-bordered table-sm">
                        <thead style="border-color:silver;background-color:#0d6efd; color: white;">
                            <tr>
                                <th scope="col">Cód:</th>
                                <th scope="col">Título</th>
                                <th scope="col">Data Início</th>
                                <th scope="col">Data Fim</th>
                                <th scope="col">Detalhes</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in tarefas %}
                            <tr>
                                <td>{{item.pk}}</td>
                                <td>{{item.titulo}}</td>
                                {% if item.data_inclusao %}
                                <td>{{item.data_inclusao}} 
                                {% else %}
                                <td> - </td>  
                                {% endif %}
                                {% if item.data_conclusao %}
                                <td>{{item.data_conclusao}} 
                                {% else %}
                                <td> - </td>  
                                {% endif %}
                                <td> <a href="#">Ver</a> </td>  
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                 
                </div>
            </li>

        </ol>
        
        
    </div>
</div>

{% endblock %}