<div class="col-12" style="border-color: #093637;" id="itens_selecionados_lista">
    Itens Adicionados: 
    <table class="table table-sm table-bordered table-striped">
        <thead class="text-white text-center" style="background: #0d6efd">
            <tr style="line-height: 12px;white-space: nowrap; font-size:10pt">

                <th scope="col"> - </th>
                <th scope="col">Cód</th>
                <th scope="col" style="text-align: left;">Item</th>
                <th scope="col" style="text-align: left;">Marca</th>
                <th scope="col">Categoria</th>
                <th scope="col">Unidade</th>
                <th scope="col">Quantidade</th>


            </tr>
        </thead>
        <tbody>
            {% for item in list_in_cache %}
            <tr style="line-height: normal; font-size:9pt">
                <td> 
                    <button style="font-size:9pt; color:red;border:none!important;" hx-post="{% url 'excluir-item-lista-selecionada' item.item.pk %}" hx-trigger="click" hx-swap="innerHTML" hx-target="#itens_selecionados_lista" type="button" title="Excluir Item Selecionado" class="buttonDel">
                      <span style="color: tomato;"><i class="fas fa-trash fa-lg"></i></span>
                    </button>
                </td>
                <td>{{item.item.pk}}</td>
                <td style="text-align: left; ">
                    {{item.item.descricao}}
                </td>
                {% if item.item.marca %}
                <td style="text-align: left;">{{item.item.marca}}</td>
                {% else %}
                <td style="text-align: left;">-</td>
                {% endif %}
                {% if item.item.categoria %}
                <td>{{item.item.categoria.categoria}}</td>
                {% else %}
                <td>-</td>
                {% endif %}
                <td>{{item.item.unid_medida}}</td>
                <td><input type="number" value="0"></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

