{% extends 'base.html' %}
{% load static %}

{% block styleHead %}
<style>  
</style>
{% endblock %}

{% block breadcrumb %}
<div class="row">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="../">Serviços</a></li>
            <li class="breadcrumb-item active" aria-current="page">Detalhar Serviço</li>
        </ol>
    </nav>
</div>
{% endblock %}

{% block conteudo %}

{% comment %} TITULO {% endcomment %}
<div class="row mb-3">
    <div class="titulo col-6 align-self-center">
        <div class="row d-flex align-self-center justify-content-center">

            
            <div class=""><h5>
                DETALHES - SERVIÇO Nº {{serv_atual.pk}} - Situação: <span style="color:
                {% if serv_atual.situacao == 'NÃO INICIADO' %}red{% endif %}
                {% if serv_atual.situacao == 'FINALIZADO' %}green{% endif %}
                {% if serv_atual.situacao == 'EM ANDAMENTO' %}blue{% endif %}
                {% if serv_atual.situacao == 'PENDENTE' %}OrangeRed{% endif %}
                {% if serv_atual.situacao == 'PARALISADO' %}Maroon{% endif %}
                ">{{serv_atual.situacao | upper}}</span>

                {% if serv_atual.fotosservico_set.count == 1 %}
                    &nbsp&nbsp&nbsp<a href="{% url 'anexar-imagens-servicos' ordem_serv_atual.pk serv_atual.pk %}"
                    style="color:SlateBlue; font-size: 20px;" title="Ver/Anexar Imagens"><i
                    class="fas fa-images"></i> {{serv_atual.fotosservico_set.count}} foto</a>
                    {% endif %}
                    {% if serv_atual.fotosservico_set.count > 1 %}
                    &nbsp&nbsp&nbsp<a href="{% url 'anexar-imagens-servicos' ordem_serv_atual.pk serv_atual.pk %}"
                    style="color:SlateBlue; font-size: 20px;" title="Ver/Anexar Imagens"><i
                    class="fas fa-images"></i> {{serv_atual.fotosservico_set.count}} fotos</a>
                    {% endif %}
            </div>
                </h5>


        </div>
    </div>

    {% comment %} BOTÕES DE VOLTAR E CONTINUAR {% endcomment %}
    <div class="col-6 d-flex justify-content-end mb-3">
    <div class="btn-group">
           <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-light">Voltar</a>
        </div>&nbsp&nbsp
        <div class="btn-group">
            <a href="{% url 'imprimir-os-servico' ordem_serv_atual.pk serv_atual.pk %}" target="_blank" class="btn btn-danger">Imprimir</a>
        </div>
    </div>
</div>

{% comment %} DADOS ORDEM DE SERVIÇO {% endcomment %}
<div class="card mb-3 border border-dark" style="border-color: #093637;">
    <div class="card-header text-white " style="background: linear-gradient(to right, #0f2027, #203a43, #2c5364);">
        Ordem de Serviço - {{ordem_serv_atual.obra}}    &nbsp&nbspLocal: {{ordem_serv_atual.local}}</div>
    <div class="card-body">

        <ol class="list-group mb-4">

            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                    {% if ordem_serv_atual.solicitante %}
                    <div class="fw-bold">Solicitante:</div>
                    {{ordem_serv_atual.solicitante}}
                    {% else %}
                    <div class="" style="color:#d9d9d9">Solicitante:</div>
                    -
                    {% endif %}
                </div>
                <a href="{% url 'salvar-ordem-servico' ordem_serv_atual.pk %}" class="btn btn-success"
                    title="Novo Serviço"></i>Ver Lista de Serviços</span></a>
            </li>

            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                    <div class="fw-bold">Obra:</div>
                    {{ordem_serv_atual.obra}}
                </div>
                <div class="ms-2 me-auto">
                    {% if ordem_serv_atual.local %}
                    <div class="fw-bold">Local:</div>
                    {{ordem_serv_atual.local}}
                    {% else %}
                    <div class="" style="color:#d9d9d9">Local:</div>
                    -
                    {% endif %}
                </div>
            </li>

            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                    {% if ordem_serv_atual.encarregado %}
                    <div class="fw-bold">Encarregado:</div>
                    {{ordem_serv_atual.encarregado}}
                    {% else %}
                    <div class="" style="color:#d9d9d9">Encarregado:</div>
                    -
                    {% endif %}
                </div>
                <div class="ms-2 me-auto">
                    {% if ordem_serv_atual.data %}
                    <div class="fw-bold">Data:</div>
                    {{ordem_serv_atual.data}}
                    {% else %}
                    <div class="" style="color:#d9d9d9">Data:</div>
                    -
                    {% endif %}
                </div>
            </li>
        </ol>


{% comment %} DADOS SERVIÇO {% endcomment %}
        <ol class="list-group mb-4">
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                    {% if serv_atual.descricao %}
                    <div class="fw-bold"> <a href="{% url 'editar-servico' ordem_serv_atual.pk serv_atual.pk %}"
                            style="color:DodgerBlue; font-size: 20px;" title="Editar Serviço"><i
                                class="fas fa-pen-square"></i></a>&nbsp Descrição:</div>
                    {{serv_atual.descricao}}
                    {% else %}
                    <div class="" style="color:#d9d9d9"><a
                            href="{% url 'editar-servico' ordem_serv_atual.pk serv_atual.pk %}"
                            style="color:gray; font-size: 20px;" title="Editar Serviço"><i
                                class="fas fa-pen-square"></i></a>&nbsp Descrição:</div> - {% endif %}
                </div>
                {% if not serv_atual.finalizado %}
                <a href="{% url 'finalizar-servico' ordem_serv_atual.pk serv_atual.pk %}"
                    style="color:MediumSeaGreen; font-size: 30px;" title="Finalizar Serviço"><i
                        class="fas fa-check-square"></i></a>&nbsp
                {% else %}
                <a href="{% url 'editar-servico' ordem_serv_atual.pk serv_atual.pk %}"
                    style="color:MediumSeaGreen; font-size: 25px;" title="Abrir Serviço">
                    <i class="fas fa-hammer"></i></i></a>&nbsp
                {% endif %}
                <a href="{% url 'anexar-imagens-servicos' ordem_serv_atual.pk serv_atual.pk %}"
                    style="color:SlateBlue; font-size: 30px;" title="Ver/Anexar Imagens"><i
                        class="fas fa-images"></i></a>&nbsp
                
                <a href="{% url 'imprimir-os-servico' ordem_serv_atual.pk serv_atual.pk %}"
                  style="color:black; font-size: 30px;" title="Imprimir Ordem de Serviço"><i class="fas fa-print"></i></a>&nbsp

                <a href="{% url 'excluir-servico' ordem_serv_atual.pk serv_atual.pk %}"
                    style="color:Tomato; font-size: 30px;" title="Excluir Serviço"><i class="fas fa-trash"></i></a>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-start">

                <div class="ms-2 me-auto">
                    {% if serv_atual.data_inicio %}
                    <div class="fw-bold">Data de Início:</div>
                    {{serv_atual.data_inicio}}
                    {% else %}
                    <div class="" style="color:#d9d9d9">Data de Início:</div> - {% endif %}
                </div>
                <div class="ms-2 me-auto">
                    {% if serv_atual.prazo %}
                    <div class="fw-bold">Prazo:</div>
                    {{serv_atual.prazo}}
                    {% else %}
                    <div class="" style="color:#d9d9d9">Prazo:</div> - {% endif %}
                </div>
                <div class="ms-2 me-auto">
                    {% if serv_atual.finalizado %}
                    <div class="fw-bold">Data de Término:</div>
                    {{serv_atual.data_termino}}
                    {% else %}
                    <div class="" style="color:#d9d9d9">Data de Término:</div> - {% endif %}
                </div>

            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                    {% if serv_atual.obs %}
                    <div class="fw-bold">Observações:</div>
                    {{serv_atual.obs}}
                    {% else %}
                    <div class="" style="color:#d9d9d9">Observações:</div> - {% endif %}
                </div>
            </li>

            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                    {% if serv_atual.funcionarioservico_set.count  > 0 %}
                    <div class="fw-bold"><a
                            href="{% url 'editar-funcionario-servico' ordem_serv_atual.pk serv_atual.pk %}"
                            style="color:DodgerBlue; font-size: 20px;" title="Editar Funcionário/Fornecedor"><i
                                class="fas fa-pen-square"></i></a>&nbsp Funcionários:</div>
                    {% for func in serv_atual.funcionarioservico_set.all %}
                    <div class="row"><span>{{func.funcionario.nome}} - {{func.funcionario.cargo}}</span></div>
                    {% endfor %}
                    {% else %}
                    <div class="" style="color:#d9d9d9"><a
                            href="{% url 'editar-funcionario-servico' ordem_serv_atual.pk serv_atual.pk %}"
                            style="color:gray; font-size: 20px;" title="Editar Funcionário/Fornecedor"><i
                                class="fas fa-pen-square"></i></a>&nbsp Funcionários:</div> -
                    {% endif %}
                </div>
            </li>

            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                    {% if serv_atual.fornecedorservico_set.count  > 0 %}
                    <div class="fw-bold"> Fornecedor:</div>
                    {% for func in serv_atual.fornecedorservico_set.all %}
                    <div class="row">
                        <span>{{func.fornecedor.nome}}{% if func.fornecedor.doc %}-{{func.fornecedor.doc}}{% endif %}</span>
                    </div>
                    {% endfor %}
                    {% else %}
                    <div class="" style="color:#d9d9d9"> Fornecedor:</div> -
                    {% endif %}
                </div>
            </li>

            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                    {% if serv_atual.itensservico_set.count  > 0 %}
                    <div class="fw-bold"><a href="{% url 'inserir-itens-servico' ordem_serv_atual.pk serv_atual.pk %}"
                            style="color:DodgerBlue; font-size: 20px;" title="Editar Materiais"><i
                                class="fas fa-pen-square"></i></a>&nbsp Materiais:</div>
                    <table class="table table-bordered table-sm border border-dark">
                        <thead style="border-color:black;background-color:gray; color: white;">
                            <tr>
                                <th scope="col">Cód:</th>
                                <th scope="col">Descrição</th>
                                <th scope="col">Quantidade</th>
                                <th scope="col">Unidade</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in serv_atual.itensservico_set.all %}
                            <tr>
                                <td>{{item.item.pk}}</td>
                                <td>{{item.item.descricao}}</td>
                                <td>{{item.qnt}}</td>
                                <td>{{item.item.unid_medida}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% else %}
                    <div class="" style="color:#d9d9d9"> <a
                            href="{% url 'inserir-itens-servico' ordem_serv_atual.pk serv_atual.pk %}"
                            style="color:gray; font-size: 20px;" title="Inserir Materiais"><i
                                class="fas fa-pen-square"></i></a>&nbsp Materiais:</div> - {% endif %}
                </div>
            </li>

        </ol>
    </div>

</div>

{% endblock%}

{% block jquery %}
<script>
    $(document).ready(function () {

        //Esconder todos
        $('.collapse').collapse('hide');


    });
</script>
{% endblock %}