<div id="modal" _="on closeModal add .closing then wait for animationend then remove me">
	<div class="modal-underlay" _="on click trigger closeModal"></div>
	<div class="modal-content" style="max-width:700px; overflow:auto;">
		<h5>Pagar Boleto:</h5>
		
            <li class="list-group-item d-flex justify-content-end ">
                <div class="ms-2 flex-fill text-start">
                    <div class="form-group row mb-2">
                        <small class="row mb-2">Dados do Boleto:</small>
                        <div class="col-2">
                            <label for="" class="">Parcela:</label>
                            <input type="text" class="form-control form-control-sm" name="parcela" value="{{boleto.parcela}}" disabled>
                        </div>

                        <div class="col-3">
                            <label for="" class="">Documento:</label>
                            <input type="text" class="form-control form-control-sm" name="doc" value="{{boleto.doc}}" disabled>
                        </div>
 
                        <div class="col-3">
                            <label for="" class="">Data Vencimento:</label>
                            <input class="form-control form-control-sm"  type="date" name="data_vencimento" value="{{boleto.data_vencimento | date:'Y-m-d'}}" disabled>
                        </div>
                        
                        <div class="col-md">
                            <label for="" class="">Valor R$:</label>
                           <input class="form-control form-control-sm money"  type="text"  name="valor" value="{{boleto.valor}}" disabled> 
                        </div>
                    </div>
        

        <form id="form-editar-pagamento-boleto" hx-post="{% url 'salvar-pagamento-boleto-unico' boleto.pk nota_atual.pk %}" hx-trigger="submit" hx-target="body" hx-swap="outerHTML">
            
                    <input type="hidden" value="{{boleto.valor}}" name="valor_">

                    <div class="form-group row mb-2">
                       <small class="row mb-2">Dados do Pagamento:</small>
                        <div class="col-3">
                            <label for="" class="">Data Pagamento:</label>
                            <input class="form-control form-control-sm"  type="date" name="data_pagamento" value="{{boleto.data_vencimento | date:'Y-m-d'}}">
                            <small id="error_data"></small>
                        </div>

                        <div class="col-3">
                            <label for="" class="">Juros/Multa R$:</label>
                           <input class="form-control form-control-sm money"  type="text"  name="valor_acrescimo" value="0,00" 
                            hx-get="{% url 'get-valor-total' %}" 
                            hx-trigger="keyup, change" 
                            hx-target="#valor-total" 
                            hx-swap="innerHTML" 
                            hx-include="this, [name='valor_']"> 
                           <small id="error_acrescimo"></small>
                        </div>

                        


                    </div>

                    <div class="form-group row mb-2">
                        <div class="col-12">
                            <label for="" class="">Observações:</label>
                           <input class="form-control form-control-sm"  type="text" name="obs" rows="2"%>
                        </div>
                       
                    </div>

                    <div class="ms-2 flex-fill text-end">
                        Valor Total do Pagamento:
                          <div style="font-size:14pt"><strong><span id="valor-total">{{boleto.valor_BR}}</span></strong></div>
                      </div>
                </div>
                
            </li>

            
        </form>
            usuário: {{nota_atual.usuario.username}}</i>
        
            <div class="d-flex flex-row-reverse mt-2">
                    <button form="form-editar-pagamento-boleto" class="btn btn-sm btn-success m-1">Pagar</button>    
                    <button class="btn btn-sm btn-secondary m-1" _="on click trigger closeModal">Cancelar</button>
            </div>
	</div>
</div>



{% block jquery %}
<script>
    $('.money').mask('000.000.000,00', {
        reverse: true
    });
</script>
{% endblock%}

