{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block breadcrumb %}
<div class="row">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Financeiro</a></li>
            <li class="breadcrumb-item active" aria-current="page">Contas-Atrasadas</li>
        </ol>
    </nav>
</div>
{% endblock %}

{% block styleHead %}
<style>
.htmx-indicator {
    display:none;
    opacity: 0;
    transition: opacity 200ms ease-in;
}
.htmx-request {
  display:block;
  opacity: 1;
  transition: opacity 200ms ease-in;
}

</style>    
{% endblock %}

{% block conteudo %}

<ul class="nav nav-tabs mb-3" id="myTab">
    <li class="nav-item">
        <a href="{% url 'resumo-do-dia' %}" class="nav-link" >Resumo do Dia</a>
    </li>
    <li class="nav-item">
      <a href="{% url 'contas-atrasadas' %}" class="nav-link">Contas Atrasadas</a>
  </li>
    <li class="nav-item">
      <a href="{% url 'inserir-conta-a-pagar' %}" class="nav-link">Nova Conta</a>
  </li>
    <li class="nav-item">
        <a href="#" class="nav-link active"data-bs-toggle="tab">Todas as Contas</a>
    </li>
    <li class="nav-item">
        <a href="{% url 'relatorios-inicio' %}" class="nav-link">Relatórios</a>
    </li>
</ul>
<div class="tab-content">
    <div class="tab-pane fade show active" id="tab-ativa" style="margin-left:2em; margin-right:2em;">

<form id="form_filtro_contas_atrasadas" style="font-size:9pt;" 
        hx-indicator="#spinner" 
        hx-swap="innerHTML" 
        hx-target="#resultados-contas-atrasadas" 
        hx-get="{% url 'resultados-filtro-contas-a-pagar' %}" 
        hx-trigger="submit" >
    <div class="d-flex flex-row mb-3" style="font-size:12pt;">
        <div class="m-1">
          <span class="mt-2"><strong>Filtrar Contas - Situação: </strong></span> </div>
          <div class="form-check m-1">
          <input class="form-check-input" type="checkbox" name="check_nao_pago" id="flexCheckDefault" checked>

          <label class="form-check-label" style="color:red" for="flexCheckDefault" > Não pagos </label>
        </div>
        <div class="form-check m-1">
          <input class="form-check-input" type="checkbox" name="check_pago" id="flexCheckChecked"  >
          <label class="form-check-label" style="color:green" for="flexCheckChecked"> Pagos </label>
        </div>
        
        
    </div>
             
    <div class="">
        <div class="form-group d-flex flex-row align-items-center">
          <div class="p-2">
            <div class="">
              <label for="input1" class="">NF ou Doc de Boleto</label>
              <input type="text" class="form-control form-control-sm" id="input1" name="descricao" placeholder="Buscar...">
            </div>
            <span class="help-block"></span>
          </div>
          <div class="p-2">
            <div class="">
              <label for="inputvalor" class="">Valor</label>
              <input type="number" step="any" min="0.1" class="form-control form-control-sm" id="inputvalor" name="valor" placeholder="R$" >
            </div>
            <span class="help-block"></span>
          </div>
          <div class="p-2">
            <div class="">
              <label for="input2" class="">Vencimento/Data Inicial</label>
              <input type="date" class="form-control form-control-sm" id="input2" name="data" >
            </div>
          </div>
  
          <div class="p-2">
            <div class="">
              <label for="input3" class="">Vencimento/Data Final</label>
              <input type="date" class="form-control form-control-sm" id="input3" name="data_f" >
            </div>
          </div>
  
          <div class="p-2">
            <div class="">
              <label for="input4" class="">Fornecedor</label>
              <input  type="text" class="form-control form-control-sm " id="input4" name="fornecedor" placeholder="Buscar...">
            </div>
            <span class="help-block"></span>
          </div>

          <div class="p-2 "> <br>
            <button class="btn btn-p-sm btn-primary" form="form_filtro_contas_atrasadas"><i class="fas fa-search"></i> Buscar</button>
            <a class="btn btn-p-sm btn-secondary m-2" href="{% url 'contas-a-pagar' %}"><i class="fas fa-broom"></i>  Limpar</a>
            
            <a  style="" class="btn btn-p-sm btn-danger m-1" target="_blank" href="{% url 'gerar_pdf_resultado_contas_e_boletos'  %}" 
              title="Gerar PDF"><i class="fas fa-file-pdf"></i> Gerar PDF</a>
          
  
          </div>
         
        </div>
  
      </form>
    </div>

    </div>
</div>
<div class="row text-center">
  <img id="spinner" class="htmx-indicator" width="30px" height="30px" src="{% static 'imagens/bars.svg' %}"/>
</div>
<div id="resultados-contas-atrasadas">
  {% include "financeiro/fragmentos/resultados-contas-a-pagar.html" %}
</div>

{% endblock%}
