{% extends "base.html" %}
{% load widget_tweaks %}
{% load static %}

{% block breadcrumb %}
      <li class="breadcrumb-item"><a href="../ver-estoque">Estoque</a></li>
      <li class="breadcrumb-item active" aria-current="page">Movimentar Estoque</li>
{% endblock %}

{% block conteudo %}
<div class="mb-2">
  <div class="texto-enfase" style="">
    Movimentar Estoque:</div>
  <div class="card-body">
  <form method="post" style="line-height: normal; font-size:10pt">
      {% csrf_token %}

      {% for hidden_field in form.hidden_fields %}
        {{ hidden_field }}
      {% endfor %}
     

      <!-- 3 column grid layout -->
       <div class="form-group row">

        <div class="col-6">
          <label for="inputItem" class="">Buscar por Nome ou Código:</label>
          <input type="text" id="itens" name="item_selecionado" class="form-control"/>
       </div>

       <!-- 
        <div class="col-3">
        <label for="inputItem" class="">Buscar por Código:</label>
          <input type="text" id="itens" name="item_selecionado" class="form-control"/>
       </div>-->

      </div>

      <div class="form-group row mt-2">

        <div class="col-2">
          <label for="inputTipo" class="">Tipo</label>
          {% render_field form.tipo  class="form-control" id="tipo"%}
        </div>
     
  
        <div class="col-2"> 
          <label for="inputQtd" class=""><span id="labelButton" style="color:blue;" >Acrescentar(+): </span></label>
              {% render_field form.qtd class="form-control" id="inputQtd" type="number" step="any"  min='1'%}

        </div>

        <div class="col-1">
        <label for="buttonMovimentar" class="">  </label>
        <button type="submit" id="buttonMovimentar" class="btn btn-sm btn-primary">Movimentar</button>
        </div>  

      </div>
  </form>
</div>
</div>

{% comment %}  LOG DAS MOVIMENTAÇÕES DO ESTOQUE COM USUÁRIO {% endcomment %}

<div class="row" style="margin-top:40px">
      <div class=" texto-enfase"> Últimas Movimentações no Estoque:</div>
        <hr>
      <div style="line-height: 12px;white-space: nowrap; font-size:9pt;">Abaixo 20 últimas movimentações, para mais, solicitar ao Admin.</div> 
      <div class="">
        <table class="table table-sm table-bordered">
          <thead class="text-center" style="background: silver;">
              <tr style="line-height: 9px;white-space: nowrap; font-size:9pt;">
                  <th style="max-width:40px">Data</th>
                  <th style="max-width:40px">Usuário</th>
                  <th scope="col">Movimentação</th>
              </tr>
          </thead>
          <tbody>
            {% for item in log_list %}
              <tr style="line-height: 12px;white-space: nowrap; font-size:9pt;">
                  <td class="text-center" style="">{{item.data_inclusao}}</td>
                  <td class="text-center" style="">{{item.usuario}}</td>
                  {% if item.adicionado %}
                  <td><span style="color:blue;">Adicionado</span> {{item.quantidade}} {{item.item.unid_medida}} de {{item.item.descricao}} [Total = {{item.saldo}} {{item.item.unid_medida}}]</td>
                  {% else %}
                  <td><span style="color:red;">Retirado</span> {{item.quantidade}} {{item.item.unid_medida}} de {{item.item.descricao}} [Total = {{item.saldo}} {{item.item.unid_medida}}]</td>
                  {% endif %}
              </tr>
            {% endfor %}
          </tbody>
      </table>
    </div>
  </div>


<!-- Toast -->
  {% for message in messages %}
  <div class="position-fixed bottom-0 end-0 p-3 " style="z-index: 11">  
    <div id="liveToast" class="toast align-items-center text-black {{ message.tags }} border-0" role="alert"
      aria-live="assertive" aria-atomic="true">
      <div class="d-flex">
        <div class="toast-body">
            {{ message }}
        </div>
        <button type="button" class="btn-close btn-close-black me-2 m-auto" id="closeToast"></button>
      </div>
    </div>
  </div>
  {% endfor %}
<!-- Fim Toast -->

{% endblock%}

{% block jquery %}
<script src="{% static 'js/jquery-ui.js' %}"></script>
<script src="{% static 'js/datatables.min.js' %}"></script>

<script>
$(document).ready(function () {

     //Toast Events 
      $("#liveToast").toast('show');
      $( "#closeToast" ).click(function() {
        $("#liveToast").toast('hide');
      });


      $("#tipo").change( function() {
          if ($("#tipo").val() == '1') {
            $("#labelButton").html('Acrescentar(+): ').css("color", "blue");
            $("#buttonMovimentar").removeClass("btn-danger");
            $("#buttonMovimentar").addClass( "btn-primary" );
          } else {
              $("#labelButton").html('Retirar(-): ').css("color", "red");
              $("#buttonMovimentar").removeClass( "btn-primary" );
              $("#buttonMovimentar").addClass( "btn-danger" );
          }
      });

      var filtro='';

      {% comment %} $("#itens").on("change paste keyup", function() {
        filtro = $(this).val();
        console.log(filtro);

      }); {% endcomment %}
   


    $( "#itens" ).autocomplete({
      source: "{% url 'autocomplete-itens' %}"
    });


    $('#tabela-listar').DataTable({
        responsive: true,
        // "bSort": false,
        "oSearch": {"sSearch": ''},
        "aaSorting": [],
        "pageLength": 10,
        "language": {

            "decimal": "",
            "emptyTable": "Sem dados disponíveis",
            "info": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
            "infoEmpty": "Mostrando de 0 até 0 de 0 registros",
            "infoFiltered": "(filtrado de _MAX_ registros no total)",
            "infoPostFix": "",
            "thousands": ",",
            "lengthMenu": "Mostrar _MENU_ registros",
            "loadingRecords": "A carregar dados...",
            "processing": "A processar...",
            "search": "Procurar:",
            "zeroRecords": "Não foram encontrados resultados",
            "paginate": {
                "first": "Primeiro",
                "last": "Último",
                "next": "Seguinte",
                "previous": "Anterior"
            },
            "aria": {
                "sortAscending": ": ordem crescente",
                "sortDescending": ": ordem decrescente"
            }
        }
    });
});
</script>
{% endblock%}