{% extends "base.html" %}
{% load static %}

{% block styleHead %}
<style>
.form-label{
    margin-bottom:0px;
    
}
.tab-content-bc{
    padding:1rem;
    border-bottom: 1px solid #dee2e6;
    border-left: 1px solid #dee2e6;
    border-right: 1px solid #dee2e6;
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    background: white;
    
}

.htmx-indicator{
    display:none;
}
.htmx-request .htmx-indicator{
    display:inline;
}
.htmx-request.htmx-indicator{
    display:inline;
}

</style>
{% endblock %}

{% block conteudo %}
    
    

    <!-- MENU PESSOAL --> 
    {% include "funcionarios/fragmentos/menu_pessoal.html" %}


    <div class="container content mb-3">

        <div class="d-flex flex-row mt-2">
            
            
            {% if funcionario_atual %}
                <h6 class=""><i class="fas fa-edit"></i> Editar Funcionário (ID: {{funcionario_atual.pk}})</h6> 
            {% else %}
                <h6 class=""><i class="fas fa-plus"></i> Novo Registro de Funcionário</h6> 
            {% endif %}
                
            
            
            <div class="ms-auto ">
                
                <span id="error-container">
                    {% include "funcionarios/fragmentos/funcionarios/error_form_funcionario.html" %}
                </span>
                
                <img class="htmx-indicator" id="indicator" src="{% static 'imagens/bars.svg' %}">
                {% if funcionario_atual %}
                    
                    <button form="editFormFuncionariov2"  class="btn btn-sm btn-primary" name="btt_save_edit_func"><i class="fas fa-save"></i> Salvar Edição Funcionário</button>
                {% else %}
                
                    <button form="addFormFuncionariov2"  class="btn btn-sm btn-success" name="btt_save_func"><i class="fas fa-save"></i> Salvar Funcionário</button>
                {% endif %}
               
                
            </div>   
        </div> 

        <!-- INÍCIO FORMULÁRIO DE CADASTRO DE FUNCIONÁRIOS-->
        {% if funcionario_atual %}
            <form id="editFormFuncionariov2" 
                hx-post="{% url 'add_funcionario_v2' funcionario_atual.pk %}" 
                hx-target="body" 
                hx-trigger="submit throttle:1s"
                hx-include="[name='imagem']" 
                hx-indicator="#indicator"
                hx-sync="closest form:abort"
                enctype="multipart/form-data"
                >
        {% else %}
            <form id="addFormFuncionariov2" 
                hx-post="{% url 'add_funcionario_v2' %}" 
                hx-target="body" 
                hx-trigger="submit throttle:1s"
                hx-include="[name='imagem']"
                hx-indicator="#indicator"  
                hx-sync="closest form:abort"
                enctype="multipart/form-data"
                >
        {% endif %}

        <!--NAV-TABS FUNCIONÁRIOS-->
        <ul class="nav nav-tabs" id="ex1" role="tablist">
            <li class="nav-item" role="presentation">
              <a
                class="nav-link active"
                id="ex1-tab-1"
                data-bs-toggle="tab"
                href="#ex1-tabs-1"
                role="tab"
                aria-controls="ex1-tabs-1"
                aria-selected="true"
                >Dados Pessoais</a
              >
            </li>
            <li class="nav-item" role="presentation">
              <a
                class="nav-link"
                id="ex1-tab-2"
                data-bs-toggle="tab"
                href="#ex1-tabs-2"
                role="tab"
                aria-controls="ex1-tabs-2"
                aria-selected="false"
                >Dados Contratuais</a
              >
            </li>
            <li class="nav-item" role="presentation">
              <a
                class="nav-link"
                id="ex1-tab-3"
                data-bs-toggle="tab"
                href="#ex1-tabs-3"
                role="tab"
                aria-controls="ex1-tabs-3"
                aria-selected="false"
                >Dados Bancários</a
              >
            </li>

            <li class="nav-item" role="presentation">
                <a
                  class="nav-link"
                  id="ex1-tab-4"
                  data-bs-toggle="tab"
                  href="#ex1-tabs-4"
                  role="tab"
                  aria-controls="ex1-tabs-4"
                  aria-selected="false"
                  >Dependentes</a
                >
              </li>

            <li class="nav-item" role="presentation">
                <a
                  class="nav-link"
                  id="ex1-tab-5"
                  data-bs-toggle="tab"
                  href="#ex1-tabs-5"
                  role="tab"
                  aria-controls="ex1-tabs-5"
                  aria-selected="false"
                  >Outras Informações</a
                >
              </li>
          </ul>

<!--DADOS PESSOAIS-->      
            <div class="tab-content tab-content-bc" id="ex1-content">
            <div
              class="tab-pane fade show active"
              id="ex1-tabs-1"
              role="tabpanel"
              aria-labelledby="ex1-tab-1"
            >
              
        
            <div class="row " >

                <div class="col-2 text-center">
                    
                <!--Button Modal ADICIONAR FOTO-->  
                    <div class="card" style="width: 9rem; height: 13rem;">

                    {% if funcionario_atual.foto %}
                        <a title="Trocar Foto" data-bs-toggle="modal" data-bs-target="#modalAdicionarFoto" href="trocar_Foto" title="Trocar Foto de Funcionário" class="">

                        <img id="preview-image" src="{{funcionario_atual.foto.url}}"  width="100%" height="100%" style="padding:0.3rem;">  
                    {% else %}
                    <a title="Adicionar Foto" data-bs-toggle="modal" data-bs-target="#modalAdicionarFoto" href="adicionar_Foto" title="Adicionar Foto de Funcionário" class="">

                        <span id="text-add-foto" style="position: absolute;top: 45%;left: 20%;color:gray;">Adicionar foto</span>
                        <img id="preview-image" src="" >  
                    {% endif %} 
                    </a> 
                    </div>
                    
                    
                
                   
                </div> 

                <div class="col-10">
                         

                         <div class="row mb-2">
                             <div class="col-6">
                                 <label for="nome" class="form-label">Nome: <span class="text-danger fw-bold">*</span></label>
                                 <input value="{% if funcionario_atual.nome %}{{funcionario_atual.nome}}{% endif %}"
                                        type="text" onkeyup="this.value = this.value.toUpperCase();" class="form-control form-control-sm" id="nome" name="nome">
                             </div>

                             <div class="col-3">
                                 <label for="cpf" class="form-label">CPF: <span class="text-danger fw-bold">*</span></label>
                                 <input value="{% if funcionario_atual.cpf %}{{funcionario_atual.cpf}}{% endif %}"
                                    type="text" class="form-control form-control-sm cpf" id="cpf" name="cpf">
                             </div>

                             <div class="col-3">
                                 <label for="rg" class="form-label">RG:</label>
                                 <input value="{% if funcionario_atual.rg %}{{funcionario_atual.rg}}{% endif %}"
                                    type="text" class="form-control form-control-sm" id="rg" name="rg">
                             </div>

                         </div>

                         <div class="row mb-2">
                             <div class="col-3">
                                 <label for="ctps" class="form-label">CTPS:</label>
                                 <input value="{% if funcionario_atual.ctps %}{{funcionario_atual.ctps}}{% endif %}"
                                    type="text" class="form-control form-control-sm" id="ctps" name="ctps">
                             </div>

                             <div class="col-3">
                                 <label for="cnh" class="form-label">CNH/Habilitação:</label>
                                 <input value="{% if funcionario_atual.cnh %}{{funcionario_atual.cnh}}{% endif %}"
                                    type="text" class="form-control form-control-sm" id="cnh" name="cnh">
                             </div>
                             <div class="col-2">
                                 <label for="categoria_cnh"  class="form-label">Cat. CNH: <i class="fas fa-question-circle" title=" A-Moto | B-Carro | C,D,E-Carga"></i></label>
                                 <input value="{% if funcionario_atual.categoria_cnh %}{{funcionario_atual.categoria_cnh}}{% endif %}"
                                    type="text" onkeyup="this.value = this.value.toUpperCase();" class="form-control form-control-sm" id="categoria_cnh" name="categoria_cnh">
                                 
                             </div>

                             <div class="col-3">
                                 <label for="data_nascimento" class="form-label">Data de Nascimento: <span class="text-danger fw-bold">*</span></label>
                                 <input value="{% if funcionario_atual.data_nascimento %}{{funcionario_atual.data_nascimento|date:'Y-m-d'}}{% endif %}"
                                    type="date" class="form-control form-control-sm" id="data_nascimento" name="data_nascimento">
                             </div>

                         </div>

                         <div class="row mb-2">
                             <div class="col-2">
                                 <label for="cep_endereco" class="form-label">CEP:</label>
                                 <input value="{% if funcionario_atual.cep_endereco %}{{funcionario_atual.cep_endereco}}{% endif %}"
                                    type="text" class="form-control form-control-sm cep" id="cep_endereco" name="cep_endereco">
                             </div>

                             <div class="col-6">
                                 <label for="endereco" class="form-label">Endereço: <span class="text-danger fw-bold">*</span></label>
                                 <input value="{% if funcionario_atual.endereco %}{{funcionario_atual.endereco}}{% endif %}"
                                    type="text" class="form-control form-control-sm" id="endereco" name="endereco">
                             </div>
                             <div class="col-2">
                                 <label for="telefone1"  class="form-label">Tel 01: </label>
                                 <input value="{% if funcionario_atual.telefone1 %}{{funcionario_atual.telefone1}}{% endif %}"
                                    type="text" class="form-control form-control-sm phoneBR" id="telefone1" name="telefone1">                                    
                             </div>

                             <div class="col-2">
                                 <label for="telefone2" class="form-label">Tel 02:</label>
                                 <input value="{% if funcionario_atual.telefone2 %}{{funcionario_atual.telefone2}}{% endif %}" 
                                    type="text" class="form-control form-control-sm phoneBR" id="telefone2" name="telefone2">
                             </div>

                         </div>

                         <div class="row mb-2">
                            <div class="col-2">
                                <label for="estado_civil" class="form-label">Estado Civil: <span class="text-danger fw-bold">*</span></label>
                                <select class="form-select form-select-sm" aria-label="Default select example" id="estado_civil" name="estado_civil">
                                    <option value="-1" disabled selected> Selecione</option>
                                    {% for i in estado_civil %}
                                    <option value="{{i}}" {% if funcionario_atual.estado_civil == i %}selected{% endif %}> {{i}}</option>
                                    {% endfor %}  
                                </select>
                            </div>

                            <div class="col-5">
                                <label for="nome_mae" class="form-label">Nome da Mãe: </span></label>
                                <input value="{% if funcionario_atual.nome_mae %}{{funcionario_atual.nome_mae}}{% endif %}"
                                    type="text" class="form-control form-control-sm" id="nome_mae" name="nome_mae">
                            </div>
                            <div class="col-5">
                                <label for="nome_pai"  class="form-label">Nome do Pai: </label>
                                <input value="{% if funcionario_atual.nome_pai %}{{funcionario_atual.nome_pai}}{% endif %}"
                                    type="text" class="form-control form-control-sm " id="nome_pai" name="nome_pai">                                    
                            </div>

                        </div>
                 </div>
            </div>
            </div>
<!--FIM DADOS PESSOAIS-->
<!--DADOS CONTRATUAIS-->
            <div class="tab-pane fade" id="ex1-tabs-2" role="tabpanel" aria-labelledby="ex1-tab-2">
                
                <div class="row">

                    <div class="row mb-2">
                        <div class="col-2">
                            <label for="matricula" class="form-label">Matrícula: <span class="text-danger fw-bold">*</span></label>
                            <input value="{% if funcionario_atual.matricula %}{{funcionario_atual.matricula}}{% endif %}"
                                type="text" class="form-control form-control-sm" id="matricula" name="matricula">
                        </div>
    
                        <div class="col-4">
                            <label for="tipo_contrato" class="form-label">Tipo de Contrato: <span class="text-danger fw-bold">*</span></label>
                            <select class="form-select form-select-sm" aria-label="Default select example" id="tipo_contrato" name="tipo_contrato">
                                <option value="-1" disabled selected> Selecione</option>
                                {% for i in tipo_contrato %}
                                <option value="{{i}}" {% if funcionario_atual.tipo_contrato == i %}selected{% endif %}>{{i}}</option>
                                {% endfor %}  
                            </select>
                        </div>
                               
                        <div class="col-2">
                            <label for="data_admissao" class="form-label">Data Admissão: <span class="text-danger fw-bold">*</span></label>
                            <input value="{% if funcionario_atual.data_admissao %}{{funcionario_atual.data_admissao|date:'Y-m-d'}}{% else %}{% now 'Y-m-d' %}{% endif %}"
                                type="date" class="form-control form-control-sm" id="data_admissao" name="data_admissao">
                        </div>
    
                        <div class="col-2">
                            <label for="data_inicio_prorrogacao" class="form-label">Início Prorrogação: <span class="text-danger fw-bold">*</span></label>
                            <input value="{% if funcionario_atual.data_inicio_prorrogacao %}{{funcionario_atual.data_inicio_prorrogacao|date:'Y-m-d'}}{% endif %}"
                                type="date" class="form-control form-control-sm" id="data_inicio_prorrogacao" name="data_inicio_prorrogacao" 
                                {% if tipo_contrato == 'INDETERMINADO' %}disabled{% endif %}>
                        </div>
    
                        <div class="col-2">
                            <label for="data_fim_prorrogacao" class="form-label">Fim Prorrogação: <span class="text-danger fw-bold">*</span></label>
                            <input value="{% if funcionario_atual.data_fim_prorrogacao %}{{funcionario_atual.data_fim_prorrogacao|date:'Y-m-d'}}{% endif %}"
                            type="date" class="form-control form-control-sm" id="data_fim_prorrogacao" name="data_fim_prorrogacao" 
                            {% if tipo_contrato == 'INDETERMINADO' %}disabled{% endif %}>
                        </div>
    
                    </div>
    
                    <div class="row mb-2">
                        <div class="col-3">
                            <label for="cargo" class="form-label">Cargo: <span class="text-danger fw-bold">*</span></label>
                            <select class="form-select form-select-sm" aria-label="Default select example" id="cargo" name="cargo">
                                <option value="-1" disabled selected> Selecione</option>
                                {% for i in cargos %}
                            <option value="{{i.pk}}" {% if funcionario_atual.cargo == i %}selected{% endif %}> {{i.cargo}}</option>
                                {% endfor %}  
                            </select>
                        </div>
                               
                        <div class="col-2">
                            <label for="salario" class="form-label">Salário: <span class="text-danger fw-bold">*</span></label>
                            <input value="{% if funcionario_atual.salario %}{{funcionario_atual.salario|floatformat:2}}{% endif %}"
                                type="text" placeholder="R$ " class="form-control form-control-sm money" id="salario" name="salario">
                        </div>
    
                        <div class="col-2">
                            <label for="adicional" class="form-label">Adicional:</label>
                            <input value="{% if funcionario_atual.adicional %}{{funcionario_atual.adicional|floatformat:2}}{% endif %}"
                                type="text" placeholder="R$ " class="form-control form-control-sm money" id="adicional" name="adicional">
                        </div>
    
                        <div class="col-3">
                            <label for="lotacao" class="form-label">Lotação/Centro de Custo: <span class="text-danger fw-bold">*</span></label>
                            <select class="form-select form-select-sm" aria-label="Default select example" id="lotacao" name="lotacao">
                                <option value="-1" disabled selected> Selecione</option>
                                {% for i in obras %}
                                <option value="{{i.pk}}" {% if funcionario_atual.lotacao == i %}selected{% endif %}> {{i.nome}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-2">
                            <div class="form-check mt-3">
                                <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" name="tipo_responsavel" {% if funcionario_atual.tipo_responsavel %}checked{% endif %}> 
                                Responsável <i class="fas fa-question-circle" title="Pode exercer função de Responsável de Equipes"></i>
                                </label>
                            </div>    
                        </div> 
    
                    </div>
                </div>
    
                
                <div class="row mb-2">
    
                    <div class="col-3">
                            <label for="situacao" class="form-label">Situação: <span class="text-danger fw-bold">*</span></label>
                            <select class="form-select form-select-sm" aria-label="Default select example" id="situacao" name="situacao">
                                
                                
                                {% if funcionario_atual.situacao %} 
                                
                                    {% for i in situacao %} 
 
                                    <option value="{{i}}"  {% if funcionario_atual.situacao == i %}selected{% endif %} > {{i}}</option>
                                           
                                    {% endfor %}
                                
                                {% else %}
                                    
                                    {% for i in situacao %} 
                                    <option value="{{i}}"  {% if i == 'ADMITIDO' %}selected{% endif %} > {{i}}</option>
                                    {% endfor %}

                                {% endif %}


                            </select>
                    </div>
                    <div class="col-2">
                        <label for="data_inicio_afastamento" class="form-label">Início Afastamento: <span class="text-danger fw-bold">*</span></label>
                        <input value="{% if funcionario_atual.data_inicio_afastamento %}{{funcionario_atual.data_inicio_afastamento|date:'Y-m-d'}}{% endif %}"
                            type="date" class="form-control form-control-sm" id="data_inicio_afastamento" name="data_inicio_afastamento" disabled>
                    </div>
    
                    <div class="col-2">
                        <label for="data_fim_afastamento" class="form-label">Fim Afastamento: <span class="text-danger fw-bold">*</span></label>
                        <input value="{% if funcionario_atual.data_fim_afastamento %}{{funcionario_atual.data_fim_afastamento|date:'Y-m-d'}}{% endif %}"
                            type="date" class="form-control form-control-sm" id="data_fim_afastamento" name="data_fim_afastamento" disabled>
                    </div>
    
                    <div class="col-2">
                        <label for="data_demissao" class="form-label">Data de Rescisão: <span class="text-danger fw-bold">*</span></label>
                        <input value="{% if funcionario_atual.data_demissao %}{{funcionario_atual.data_demissao|date:'Y-m-d'}}{% endif %}"
                            type="date" class="form-control form-control-sm" id="data_demissao" name="data_demissao" disabled>
                    </div>
    
                    <div class="col-3">
                        <label for="tipo_demissao" class="form-label">Tipo Rescisão: <span class="text-danger fw-bold">*</span></label>
                        <select class="form-select form-select-sm" aria-label="Default select example" id="tipo_demissao" name="tipo_demissao" disabled>
                            <option value="-1" disabled selected> Selecione</option>
                            {% for i in tipo_demissao %}
                            <option value="{{i}}" {% if funcionario_atual.tipo_demissao == i %}selected{% endif %}> {{i}}</option>
                            {% endfor %}
                        </select>
                    </div>
    
                </div>
                


            </div>
<!--FIM DADOS CONTRATUAIS-->
   <!--DADOS BANCÁRIOS -->
            <div class="tab-pane fade" id="ex1-tabs-3" role="tabpanel" aria-labelledby="ex1-tab-3">

                 <div class="row mb-2">
                    <div class="col-3">
                        <label for="banco" class="form-label">Banco:</label>
                        <select class="form-select form-select-sm" aria-label="Default select example" id="banco" name="banco">
                            <option value="-1" disabled selected> Selecione</option>
                            {% for i in bancos %}
                            <option value="{{i.pk}}" {% if funcionario_atual.banco == i %}selected{% endif %}> {{i.nome}}</option>
                            {% endfor %}
                        </select>
                    </div>
        
                    <div class="col-2">
                        <label for="agencia" class="form-label">Ag:</label>
                        <input value="{% if funcionario_atual.agencia %}{{funcionario_atual.agencia}}{% endif %}"
                            type="text" class="form-control form-control-sm" id="agencia" name="agencia">
                    </div>

                    <div class="col-2">
                        <label for="tipo_conta" class="form-label">Tipo de Conta:</label>
                        <select class="form-select form-select-sm" aria-label="Default select example" id="tipo_conta" name="tipo_conta">
                            <option value="-1" disabled selected> Selecione</option>
                            {% for i in tipo_conta %}
                            <option value="{{i}}" {% if funcionario_atual.tipo_conta == i %}selected{% endif %}> {{i}}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="col-2">
                        <label for="conta" class="form-label">Conta:</label>
                        <input value="{% if funcionario_atual.conta %}{{funcionario_atual.conta}}{% endif %}"
                            type="text" class="form-control form-control-sm" id="conta" name="conta">
                    </div>

                    <div class="col-1">
                        <label for="operacao" class="form-label">Op:</label>
                        <input value="{% if funcionario_atual.op %}{{funcionario_atual.op}}{% endif %}"
                            type="text" class="form-control form-control-sm" id="operacao" name="operacao">
                    </div>

                    </div>
                    <div class="row mb-2">

                            <div class="col-3">
                                <label for="pix" class="form-label">Pix:</label>
                                <input value="{% if funcionario_atual.pix %}{{funcionario_atual.pix}}{% endif %}"
                                    type="text" class="form-control form-control-sm" id="pix" name="pix">
                            </div>

                            <div class="col-2">
                                <label for="tipo_pix" class="form-label">Tipo Pix:</label>
                                <select class="form-select form-select-sm" aria-label="Default select example" id="tipo_pix" name="tipo_pix">
                                    <option value="-1" disabled selected> Selecione</option>
                                    {% for i in tipo_pix %}
                                    <option value="{{i}}" {% if funcionario_atual.tipo_pix == i %}selected{% endif %}> {{i}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                </div>
            </div>
<!--FIM DADOS BANCÁRIOS-->
<!--DEPENDENTES-->            
        <div class="tab-pane fade" id="ex1-tabs-4" role="tabpanel" aria-labelledby="ex1-tab-4">

           
            {% if dependentes %}
                {% for dependente in dependentes %}

                <div class="d-flex flex-row align-items-center" >
                    <div class="col-6 p-2">
                        <label for="nome_dependente" class="form-label">Nome do Dependente:</label>
                        <input type="text" class="form-control form-control-sm" value="{{dependente.nome}}" disabled>
                    </div>
            
                    <div class="col-3 p-2">
                        <label for="cpf_dependente" class="form-label">CPF do Dependente:</label>
                        <input type="text" class="form-control form-control-sm" value="{{dependente.cpf}}" disabled>
                    </div>
            
                    <button class="btn bg-transparent" 
                        hx-delete="{% url 'excluir_dependente' funcionario_atual.pk dependente.pk %}"
                        hx-target="#delete-info" 
                        hx-swap="innerHTML"
                        hx-confirm="Tem certeza que deseja excluir o DEPENDENTE {{dependente.nome}}?"><i class="fas fa-trash"></i></button>
                </div>
                            
                
                {% endfor %}


            {% endif %}
               
          
            <div class="row mb-2">

                <div id="dependente_func">
                
                    {% include "funcionarios/fragmentos/funcionarios/novo_dependente.html" %}
                
                </div>
                <div class="col-2">
                    <button hx-get="{% url 'add_inputs_dependente' start_inputs_dependents %}"  
                        hx-target="#dependente_func" 
                        hx-swap="beforeend" 
                        class="btn bg-transparent"><i class="fas fa-plus"></i> Dependente</button>    
                </div>
    
          </div>
          
          <div id="delete-info" style="color:red"></div>

        </div>
<!--FIM DEPENDENTES-->    
 <!--OUTRAS INFORMAÇÕES-->
 <div class="tab-pane fade" id="ex1-tabs-5" role="tabpanel" aria-labelledby="ex1-tab-5">
    
    <div class="row mb-2">

        <div class="col-3">
            <label for="esocial" class="form-label">E-Social:</label>
            <input value="{% if funcionario_atual.esocial %}{{funcionario_atual.esocial}}{% endif %}"
                type="text" class="form-control form-control-sm" id="esocial" name="esocial">
        </div>

        <div class="col-2">
            <div class="form-check mt-3">
                <label class="form-check-label align-middle">
                <input class="form-check-input" type="checkbox" name="analfabeto" {% if funcionario_atual.analfabeto %}checked{% endif %}> Analfabeto ou Pouca Escolaridade
                </label>
            </div>    
        </div> 

        <div class="col-3">
            <label for="responsavel_direto" class="form-label">Responsável Direto:</label>
            <select class="form-select form-select-sm" aria-label="Default select example" id="responsavel_direto" name="responsavel_direto">
                <option value="-1" disabled selected> Selecione</option>
                {% for i in responsavel_direto %}
                <option value="{{i.pk}}" {% if funcionario_atual.responsavel_direto == i %}selected{% endif %}> {{i.responsavel.nome}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-4">
            <label for="obs" class="form-label">Observações:</label>
            <textarea id="obs" name="obs" rows="1" cols="50" class="form-control form-control-sm">{% if funcionario_atual.obs %}{{funcionario_atual.obs}}{% endif %}</textarea>
        </div>
        

    </div>

    <div class="d-flex flex-row ">

        

        <div class="col-2">
            <label for="data_demissao" class="form-label">Data Cadastro:</label>
            <input type="text" class="form-control form-control-sm" value="{% now 'd/m/Y' %}" disabled>
        </div>

        <div class="col-2 p-2 align-self-center">
            <div class="form-check mt-3">
                <label class="form-check-label">
                {% if funcionario_atual %}
                <input class="form-check-input " type="checkbox" {% if funcionario_atual.ativo %}checked{% endif %} disabled> Cadastro Ativo <i class="fas fa-question-circle" title="Falar com o Admin para Desativar Cadastro"></i>
                {% else %}
                <input class="form-check-input " type="checkbox" checked disabled> Cadastro Ativo <i class="fas fa-question-circle" title="Falar com o Admin para Desativar Cadastro"></i>
                {% endif %}
            </label>
            </div>    
        </div> 
       
    </div> 
    

  </div>


</div>
<!--FIM OUTRAS INFORMAÇÕES-->         


    </form>

           
     

</div>

 <!-- Modal ADICIONAR FOTO-->
 <div class="modal fade" id="modalAdicionarFoto" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content ">
            <div class="modal-header p-3">
                <div class="d-flex flex-column bd-highlight">
                    <h5 style="color:black" class="bd-highlight">Adicionar Foto</h5>
                    
                    
                </div>  
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body p-5">
                <!-- modal-body --> 


                <div class="col-md">
                    <label for="img-input" class="">Imagem:</label>

                        <input type="file" name="imagem"  class="form-control form-control-sm" id="img-input" accept="image/*" /> 
        
                    <small class="small-error" id="error_imagem"></small>
                </div>


                <!-- Fim modal-body -->
            </div>
            <div class="modal-footer form-control">
           
                <button type="button" class="btn btn-sm btn-success" data-bs-dismiss="modal">Salvar</button>
            
            </div>
        </div>
    </div>
 </div>
 <!-- Fim Modal --> 


{% endblock %}


<script src="{% static 'js/jquery.mask.js' %}"></script>
{% block jquery %}
<script>


    
    //mantém o refresh da pagina na mesma TAB ATIVA
    $(document).ready(function () {
        $('.nav-link').on('click', function (e) {
            localStorage.setItem('activeTab', $(this).attr('href'));
            $(this).tab('show');
        });
    
        var activeTab = localStorage.getItem('activeTab');
        if (activeTab) {
            $('#ex1 a[href="' + activeTab + '"]').tab('show');
        }
    });


    //masks
    $('.money').mask('#.##0,00', {reverse: true});
    $('.cpf').mask('000.000.000-00', {reverse: true});
    $('.cep').mask('00000-000');

    //Para mascara de telefone com 8 ou 9 digios
    var MaskTelBrasil = function (val) {
    return val.replace(/\D/g, '').length === 11 ? '(00) 00000-0000' : '(00) 0000-00009';
    },
    spOptions = {
        onKeyPress: function(val, e, field, options) {
            field.mask(MaskTelBrasil.apply({}, arguments), options);
        }
    };

    $('.phoneBR').mask(MaskTelBrasil, spOptions);


  


    function previewImage() {
        if (this.files && this.files[0]) {
            var file = new FileReader();
        
            file.onload = function(e) {
                $('#preview-image').css({width: '100%', height: '100%', 'padding': '0.5rem'});
                $('#preview-image').attr('src',e.target.result);
                $('#text-add-foto').remove();
         
            };       
            file.readAsDataURL(this.files[0]);
        }
    }
    document.getElementById("img-input").addEventListener("change", previewImage, false);



    $('#tipo_contrato').change(function() {
  
        if ($(this).val() == 'DETERMINADO') {
           
                $('#data_inicio_prorrogacao').removeAttr('disabled');
                $('#data_fim_prorrogacao').removeAttr('disabled');
                
        }else{
           
            $('#data_inicio_prorrogacao').attr('disabled', 'disabled');
            $('#data_fim_prorrogacao').attr('disabled', 'disabled');
        }
        

    });

    $('#situacao').change(function() {
  
        if ($(this).val() == 'ADMITIDO') {
            console.log("Entrei ADMITIDO")
                $('#data_inicio_afastamento').attr('disabled', 'disabled');
                $('#data_fim_afastamento').attr('disabled', 'disabled');
                $('#data_demissao').attr('disabled', 'disabled');
                $('#tipo_demissao').attr('disabled', 'disabled');
                
        
        }else{
            if ($(this).val() == 'DEMITIDO') {
                    console.log("Entrei DEMITIDO")
                        $('#data_inicio_afastamento').attr('disabled', 'disabled');
                        $('#data_fim_afastamento').attr('disabled', 'disabled');
                        $('#data_demissao').removeAttr('disabled');
                        $('#tipo_demissao').removeAttr('disabled');
            
            
            }else{
                console.log("Entrei ELSE")
                $('#data_inicio_afastamento').removeAttr('disabled');
                $('#data_fim_afastamento').removeAttr('disabled');
                $('#data_demissao').attr('disabled', 'disabled');
                $('#tipo_demissao').attr('disabled', 'disabled');
            }
            
        }

    });
 
 </script>
{% endblock%}