<div id="modal" _="on closeModal add .closing then wait for animationend then remove me">
	<div class="modal-underlay" _="on click trigger closeModal"></div>
	<div class="modal-content" style="max-width:700px; overflow:auto;">
		<h5>Inserir Itens:</h5>
		
        





        <div class="d-flex flex-row-reverse">
        <button class="btn btn-p-sm btn-primary m-1">Salvar</button>
		<button class="btn btn-p-sm btn-light m-1" _="on click trigger closeModal">Cancelar</button>
        </div>
	</div>
</div>

