<style>
    body{
        font-size: 10px;
    }
    table{
        font-size: 10px;
    }
    h6{
        font-size: 12px;
    }
</style>


<div class="row" ><span class="text-center">Resultados:</span></div>

<div class="container">

<div class="">
Filtro: Boleto(s):
<table class="table table-sm table-bordered dt-responsive " >
    <thead style="border-color:silver;background:#0d6efd; color: white;">
        <tr>
            <th scope="col" class="text-center">#</th>
            <th scope="col" class="text-center">Documento</th>
            <th scope="col" class="text-center">Parcela</th>
            <th scope="col">Fornecedor</th>
            <th scope="col">CPF/CNPJ</th>
            <th scope="col" class="text-center">NF nº</th>
            <th scope="col" class="text-center">Vencimento</th>
            <th scope="col" class="text-center">Valor Original</th>
            <th scope="col" class="text-center">Acrésc.</th>
            <th scope="col" class="text-center">Total</th>
            <th scope="col" class="text-center">Situação</th>
   
        </tr>
    </thead>
    <tbody>
        {% if context.boletos and context.boletos.count > 0  %}
        {% for item in context.boletos %}
        <tr>
            <td class="limitar_forloop text-center">{{forloop.counter}}</td>
            {% if item.doc %}<td class="text-center">{{item.doc}}</td>{% else %}<td class="text-center"> - </td>{% endif %}
           <td class="text-center">{{item.parcela}}/{{item.total_parcelas}}</td>
            {% if item.conta.saida.fornecedor %}<td class="limitar_td"
                style="text-align: left; vertical-align:middle !important" title="">{{item.conta.saida.fornecedor.nome}}</td>
            {% else %}
            <td> - </td>
            {% endif %}
            {% if item.conta.saida.fornecedor %}<td class="limitar_td" title="">{{item.conta.saida.fornecedor.doc}}</td>{% else %}<td> - </td>{% endif %}
            {% if item.conta.saida.nota_fiscal %}<td class="text-center limitar_td">{{item.conta.saida.nota_fiscal}}</td>{% else %}<td class="text-center"> - </td>{% endif %}

            <td class="destaque-saida text-center">{{item.data_vencimento | date:"d/m/Y"}}
            </td>
            <td class="destaque-saida text-center">{{item.valor_BR}}</td>
            {% if item.pagamentoboleto_set.all.count > 0%}
                {% for pagamento in item.pagamentoboleto_set.all %}
                <td class="text-center">R$ {{pagamento.acrescimo}}</td>
                <td class="text-center">{{pagamento.valor_total_BR}}</td>
                <td class="text-center"> Pago em {{pagamento.data_pagamento | date:'d/m/Y'}} </td>
                {% endfor %}
            {% else %}
            <td class="text-center"> - </td>
            <td class="text-center">{{item.valor_BR}}</td>
            <td class="text-center"> Aberto </td>
            {% endif %}
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td style="text-align: center; color: gray;" colspan="12">Nenhum registro</td>
        </tr>
        {% endif %}
    </tbody>
</table>


    <div class="d-flex  justify-content-end  ">

        <div class="col-md text-end p-2">
            Total de Boletos: <h6 class="">{{context.boletos.count}}</h6>
        </div>
        <div class="col-md text-end p-2">
            Total R$ Boleto: <h6 class="">R$ {{context.total_valor_boletos}}</h6>
        </div>
    </div>


Filtro: Nota (s):
<table class="table table-sm table-bordered dt-responsive " >
    <thead style="border-color:silver;background:#0d6efd; color: white;">
        <tr>
            <th scope="col" class="text-center">#</th>
            <th scope="col">Fornecedor</th>
            <th scope="col">CPF/CNPJ</th>
            <th scope="col" class="text-center">NF nº</th>
            <th scope="col" class="text-center">Emissão</th>
            <th scope="col" class="text-center">Valor Original</th>
            <th scope="col" class="text-center">Acrésc (+)</th>
            <th scope="col" class="text-center">Descon (-)</th>
            <th scope="col" class="text-center">Total (=)</th>
            <th scope="col" class="text-center">Situação</th>
           
        </tr>
    </thead>
    <tbody>
        {% if context.contas and context.contas.count > 0  %}
        {% for item in context.contas %}
        <tr>
            <td class="limitar_forloop text-center">{{forloop.counter}}</td>
            {% if item.saida.fornecedor %}<td class="limitar_td"
                style="text-align: left; vertical-align:middle !important" title="">{{item.saida.fornecedor.nome}}</td>
            {% else %}
                <td> - </td>
            {% endif %}
            {% if item.saida.fornecedor %}<td class="limitar_td" title="">{{item.saida.fornecedor.doc}}</td>{% else %}<td> - </td>{% endif %}
            {% if item.saida.nota_fiscal %}<td class="text-center limitar_td">{{item.saida.nota_fiscal}}</td>{% else %}<td class="text-center"> - </td>{% endif %}

            <td class="destaque-saida text-center">{{item.saida.data_emissao | date:"d/m/Y"}}
            </td>
            <td class="destaque-saida text-center">{{item.get_valor_total_itens_BR}}</td>
            {% if item.pagamentovista_set.all.count > 0%}
                {% for pagamento in item.pagamentovista_set.all %}
                <td class="text-center">R$ {{pagamento.acrescimo}}</td>
                <td class="text-center">R$ {{pagamento.conta.desconto}}</td>
                <td class="text-center">{{pagamento.valor_total_BR}}</td>
                <td class="text-center"> Pago em {{pagamento.data_pagamento | date:'d/m/Y'}} </td>
                {% endfor %}
            {% else %}
            <td class="text-center"> - </td>
            <td class="text-center">R$ {{item.desconto}}</td>
            <td class="text-center">{{item.valor_BR}}</td>
            <td class="text-center"> Aberto </td>
            {% endif %}

        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td style="text-align: center; color: gray;" colspan="11">Nenhum registro</td>
        </tr>
        {% endif %}
    </tbody>
</table>

   


        <div class="d-flex  justify-content-end mt-1 ">
                 <div class="col-md text-end p-2">
                Total de Notas: <h6 class="">{{context.contas.count}}</h6>
            </div>
            <div class="col-md text-end p-2">
                Total R$ Notas: <h6 class="">R$ {{context.total_valor_notas}}</h6>
            </div>
        </div>
 

    <ol class="list-group ">
        <li class="list-group-item d-flex  justify-content-end mt-1 ">
            <div class="col-3">
               
            </div>
        
            <div class="col-md text-end m-2">
                Total Descontos: <h6 class="">{{context.total_desconto}}</h6>
            </div>
            <div class="col-md text-end m-2 fw-bold">
                Total Geral: <h6 class="fw-bold">{{context.total_geral}}</h6>
            </div>
        </li>
    </ol>



</div>
