{% extends 'base.html' %}
{% load widget_tweaks %}

{% block breadcrumb %}
<div class="row">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="../ver-requisicoes">Cargos</a></li>
            <li class="breadcrumb-item active" aria-current="page">Inserir/Editar Cargo</li>
        </ol>
    </nav>
</div>
{% endblock %}

{% block conteudo %}

<div class="card mb-3 border border-dark" style="border-color: #093637;">
  <div class="card-header text-white " style="background: linear-gradient(to right, #0f0c29, #302b63, #24243e );">
    {% if editar %} Editar Cargo: {% else %} Novo Cargo: {% endif %}</div>
  <div class="card-body">
<form action="" method="post" autocomplete="off">
  {% csrf_token %}

  {% for hidden_field in form.hidden_fields %}
  {{ hidden_field }}
  {% endfor %}

  <div class="row mb-3">
    <div class="col-5">
      <div class="input-group">
        <div class="input-group-text">Cargo: </div>
        {% render_field form.cargo class="form-control" id="cargo" name="cargo"  %}
      </div>
    </div>
    <div class="col-2">
      <button type="submit" class="btn btn-success">Salvar</button>
    </div>
  </div>

</form>
</div>
</div>


{% if not editar %}
Cargos Cadastrados: <br>
<div class="card border-secondary mb-3">
  <div class="card-body">
    <table class="table table-sm table-bordered dt-responsive tabela-listar" style="font-size:13px;">
    <thead style="border:solid 2px;border-color:white;background:linear-gradient(to right, #0f0c29, #302b63, #24243e); color: white;">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Id.</th>
            <th scope="col">Cargo</th>
            <th scope="col">Opções</th>
        </tr>
    </thead>
    <tbody>
        {% for item in cargos_list %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{item.id}}</td>
            <td>{{item.cargo}}</td>
            <td style="white-space: nowrap;">
            <a href="{% url 'editar-cargo' item.pk %}" title="Editar cargo"><span style="color: DodgerBlue;"><i class="fas fa-pen-square fa-lg"></i></span></a>            
            <a href="{% url 'excluir-cargo' item.pk %}" title="Excluir cargo"><span style="color: tomato;"><i class="fas fa-trash fa-lg"></i></span></a> 
            </td> 
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}




{% endblock %}
{% block jquery %}
<script src="../static/js/datatables.min.js"></script>

<script>
    $('.tabela-listar').DataTable({
        responsive: true,
        // "bSort": false,
        "aaSorting": [],
        "pageLength": 10,
        "language": {

            "decimal": "",
            "emptyTable": "Sem dados disponíveis",
            "info": "Mostrando de _START_ até _END_ de _TOTAL_ registos",
            "infoEmpty": "Mostrando de 0 até 0 de 0 registos",
            "infoFiltered": "(filtrado de _MAX_ registos no total)",
            "infoPostFix": "",
            "thousands": ",",
            "lengthMenu": "Mostrar _MENU_ registos",
            "loadingRecords": "A carregar dados...",
            "processing": "A processar...",
            "search": "Procurar:",
            "zeroRecords": "Não foram encontrados resultados",
            "paginate": {
                "first": "Primeiro",
                "last": "Último",
                "next": "Seguinte",
                "previous": "Anterior"
            },
            "aria": {
                "sortAscending": ": ordem crescente",
                "sortDescending": ": ordem decrescente"
            }
        }
    });
</script>
{% endblock%}