{% extends "base.html" %}
{% load static %}

{% block styleHead %}
<style>
    .htmx-indicator {
        display:none;
        opacity: 0;
        transition: opacity 200ms ease-in;
    }
    .htmx-request {
      display:block;
      opacity: 1;
      transition: opacity 200ms ease-in;
    }
    
       table {
        border-collapse: collapse;
    
      } 
      
      .linha_clicavel {
        border: 1px solid black;
        cursor: pointer;
        
      } 
      
      .linha_clicavel:hover {
        background: #bad6f7 !important;
     
      }
      td a, td a:hover{
        text-decoration:none;
        color:black;
      }
      
    
    </style>    
{% endblock %}

{% block conteudo %}
    <!-- MENU PESSOAL --> 
    {% include "funcionarios/fragmentos/menu_pessoal.html" %}


    <div class="container mt-2">
         

            <div class="container mt-2">

              <div class="d-flex flex-row align-items-center" >
                  <h4 class="me-auto"><i class="fas fa-map-marker-alt"></i> Funcionário/Local:  </h4>
          
                  <!-- Button Associar Modal -->
                  <a  style="" class="btn btn-sm  btn-primary m-1" data-bs-toggle="modal" data-bs-target="#associarFuncAoLocal" href="modal" 
                        title="Associar Funcionário ao Local"><i class="fas fa-sign-in-alt"></i>  Associar Funcionário ao Local</a>
          
                  <!-- Modal Associar -->
                  <div class="modal fade" id="associarFuncAoLocal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
                        <div class="modal-content ">
                            <div class="modal-header p-2">
                                <div class="d-flex flex-column bd-highlight">
                                    <h5 style="color:black" class="bd-highlight">Associar Funcioário ao Local de Trabalho</h5>
                                    
                                    
                                </div>  
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body p-3">
                                <!-- modal-body --> 
                
                                <form id="associarFuncAoLocalForm"
                                    hx-post="{% url 'associar_funcionario_local' %}"
                                    hx-target="body" 
                                    hx-swap="innerHTML">
            
            
                                    <div class="form-group row mb-2 ">
                                      <div class="">
                                       
                                              <label for="input0" class=""><i class="fas fa-hard-hat"></i> Funcionário/Solicitante:</label>
                                              <select id="input0" class="form-control" name="funcionario" >
                                                  <option value="-1" selected disabled>Selecione:</option>
                                                  {% for i in funcionarios %}
                                                  <option value="{{i.pk}}"> {{i.nome}} - {{i.cargo}}</option>
                                                  {% endfor %}      
                                              </select>
                   
                                      </div>
                                  </div>

                                  <div class="form-group">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="id_meu_checkbox" name="sem_local_definido_checkbox" value="ativo">
                                        <label class="form-check-label" for="id_meu_checkbox">
                                            Sem Local Definido
                                        </label>
                                
                                    </div>
                                </div>
      
                                  <div class="form-group row mb-2 ">
                                      <div class="">
                                       
                                              <label for="input1" class=""><i class="fas fa-map-marker-alt"></i> Local:</label>
                                              <select id="input1" class="form-control "  name="local" >
                                                  <option value="-1" selected disabled>Selecione:</option>
                                                  {% for i in localidades %}
                                                  <option value="{{i.pk}}"> {{i.local}} - {{i.endereco}}</option>
                                                  {% endfor %}      
                                              </select>
                   
                                      </div>
                                  </div>
            
        
                              </form>                            
                
                                <!-- Fim modal-body -->
                            </div>
                            <div class="modal-footer form-control">
                                <button class="btn btn-sm btn-dark" form="associarFuncAoLocalForm"><i class="fas fa-save"></i> Salvar </button>   
                                <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Fechar</button>
                            
                            </div>
                        </div>
                    </div>
                 </div>
          
          
          
                  <a style="" class="btn btn-sm  btn-secondary m-1" href="" 
                        title="Buscar Funcionário em Local"><i class="fas fa-search"></i></i> Buscar </a>
          
                  <a style="" class="btn btn-sm  btn-dark m-1" href="{% url 'imprimir_locais_funcionarios' %}" 
                        title="Imprimir Locais" target="_blank" ><i class="fas fa-print"></i></i> Imprimir </a>       
          
              </div>
          
          </div>
            
            {% comment %} <div class="p-1">
                <form id="form_filtro" 
                hx-get="{% url 'filtrar_funcionariosV2' %}" 
                hx-target="#resultados_filtro_local" 
                hx-swap="innerHTML" 
                hx-indicator="#spinner"
                hx-include="[name='filter']"
                style="line-height: normal; font-size:9pt">
                  {% csrf_token %}
        
                <input type="hidden" value="local" name="filter" >
            
                  <div class="form-group row mb-2 ">
                    <div class="col-3">
                      <div class="col-12 ">
                        <label for="nome" class="">Nome: </label>
                        <input type="text" class="form-control form-control-sm" name="nome">
                      </div>
            
                    </div>


                   
                        <div class="col-3">
                          <div class="col-12 ">
                            <label for="local" class="">Local: </label>
                            <input type="text" class="form-control form-control-sm" name="local">
                          </div>
                
                        </div>

                    <div class="col-2">
                        <div class="col-12">
                          <label for="cargo" class="">Cargo:</label>
                          <select id="input1" class="form-control form-control-sm"  name="cargo" >
                                  <option value="-1"> Todos os Cargos</option>
                                  {% for i in cargos %}
                                  <option value="{{i.pk}}"> {{i.cargo}}</option>
                                  {% endfor %}      
                          </select>
                        </div>
                      </div>
            
                    <div class="col-2">
                      <div class="col-12">
                        <label for="lotacao" class="">Lotação:</label>
                        <select id="input2" class="form-control form-control-sm"  name="lotacao" >
                                <option value="-1"> Todas as Lotações</option>
                                {% for i in lotacoes %}
                                <option value="{{i.pk}}"> {{i.nome}}</option>
                                {% endfor %}      
                        </select>
                      </div>
                    </div>   
                 
            
                    <div class="col-2 d-flex align-items-end">
                      <button form="form_filtro" class="btn btn-sm btn-primary " title="Pesquisar"><i class="fas fa-search"></i> </button>
                      <a class="btn btn-sm btn-secondary" href="{% url 'procurar_pessoal' %}" title="Limpar Campos" style="margin-left:1rem" ><i class="fas fa-broom"></i></a>
                    </div>
                    <span class="help-block"></span>
                  </div>
            
                </form>
              </div> {% endcomment %}
    
    </div>



    <div class="row text-center">
        <img id="spinner" class="htmx-indicator" width="30px" height="30px" src="{% static 'imagens/bars.svg' %}"/>
    </div>
    <div class="container" id="resultados_filtro_local">
        {% include "funcionarios/fragmentos/local/resultados_procurar_local.html" %}
    </div>


{% endblock %}


{% block jquery %}
{% endblock%}