
{% load static %}

<ol class="list-group ">
        
    <li class="list-group-item d-flex">
        <div class="col-1">
            {% if obra.imagem %}
                <img style="width: 5rem;" class="card-img-top" src="{{ obra.imagem.url }}" alt="Imagem de capa da obra">
            {% else %}
                <img style="width: 5rem;" class="card-img-top" src="{% static 'imagens/logo1.png' %}" alt="Imagem de capa da obra">
            {% endif %}
        </div>
        <div class="col-md">
            <span style="font-size:14pt;font-weight: bold;"> 
             {{obra.nome}} </span> <br> Contratante: {{obra.contratante}} <br>
             Contrato nº: {{obra.num_contrato}}
         </div>
         <div class="col-md">
            Objeto: {{obra.objeto |upper}} 
        </div>
        
        <div class="col-md text-end">
            Início da Obra: {{obra.inicio}} <br>
            Previsão Fim: {{obra.fim}} <br>

        </div>
    </li>
    
</ol>
