{% load static %}
<style>
    .limitar {
        max-width: 100px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      } 
    
</style>
         
<li class="list-group-item align-items-start ">
    
    {% if diarios %}
    
    <div class="fw-bold">Relatórios salvos:</div>


    <table class="table table-sm table-bordered dt-responsive" style="font-size:12px;">
        <thead style="border:solid 1px;border-color:silver;background:gray; color: white;" class="text-center">
            <tr>
                <th scope="col">Data</th>
                <th scope="col">Atividades</th>
                <th scope="col">Ocorrências</th>
                <th scope="col">Mão-de-Obra</th>
                <th scope="col">Equipamentos</th>
            </tr>
        </thead>
        
        <tbody class="text-center">
            {% for rdo in diarios %}
            
            <tr class="link_tr" >
                <td class="text-center limitar"><a class="link_os" href="{% url 'detalhar_rdo_rdo_orden_servico' obra.pk ordem_atual.pk rdo.pk %}">{{rdo.data}}</a></td>
                <td class="text-start limitar">{{rdo.atividades}}</td>
                <td class="text-start limitar">{{rdo.ocorrencias}}</td>
                <td class="text-start limitar">{{rdo.mao_de_obra}}</td>
                <td class="text-start limitar">{{rdo.equipamentos}}</td>
            </tr>
            
            {% endfor %}
        </tbody>
   
    </table>

    </div>

    {% else %}
        <small class="">Sem Registros!</small>

    {% endif %}

    
</li>

{% block jquery %}

<script>
   
</script>

{% endblock%}