{% load static %}

{% block styleHead %}
<style>
    .link_tr:hover { 
         background: #d9f5fc; 
       
        
      }
     .link_os:hover { 
         text-decoration: none;
         color: black;
 
      } 
     .link_os { 
         display: block; 
         text-decoration: none;
         color: black;
      }
      .limitar {
         max-width: 200px;
         overflow: hidden;
         text-overflow: ellipsis;
         white-space: nowrap;
       } 
 
     
    
     div.dataTables_filter input{
        width:40rem !important;
        margin-bottom:1rem;
     }
 
     .pull-left{
         float:left !important;
     }
 
     .pull-right{
         float:right !important;
     }
 

 </style>
 {% endblock %}


 <div id="resultados_filter_os">
    <table class="tabela-listar table table-sm table-bordered dt-responsive " style="font-size:12px;">
    <thead style="border:solid 1px;border-color:silver;background:#0d6efd; color: white;" class="text-center">
        <tr>
            <th scope="col" class="limitar">OS nº</th>
            <th scope="col" class="limitar">Data Recebimento</th>
            <th scope="col">Serviço(s)</th>
            <th scope="col" class="limitar">Local</th>
            <th scope="col" class="limitar">Obs</th>
            <th scope="col" class="limitar">Situação</th>
            {% comment %} <th scope="col">Opções</th> {% endcomment %}
        </tr>
    </thead>
    
    <tbody class="text-center" style="background:white">
        {% for item in ordens %}
        
        <tr class="link_tr">
            {% if item.numero_os %}<td class="limitar"><a class="link_os" href="{% url 'obra_detalhar_os' obra.pk item.pk %}">000{{item.numero_os}}</a></td>{% else %}<td> - </td>{% endif %}
            {% if item.data_recebimento %}<td class="limitar"><a class="link_os" href="{% url 'obra_detalhar_os' obra.pk item.pk %}">{{item.data_recebimento}}</a></td>{% else %}<td> - </td>{% endif %}
            {% if item.servicos %}<td class="text-start limitar"><a class="link_os" href="{% url 'obra_detalhar_os' obra.pk item.pk %}">{{item.servicos}}</td>{% else %}</a><td> - </td>{% endif %}
            {% if item.local %}<td class="text-start limitar"><a class="link_os" href="{% url 'obra_detalhar_os' obra.pk item.pk %}">{{item.local.local}}</td>{% else %}</a><td> - </td>{% endif %}
            {% if item.obs %}<td class="text-center limitar"><a class="link_os" href="{% url 'obra_detalhar_os' obra.pk item.pk %}">{{item.obs}}</td>{% else %}</a><td> - </td>{% endif %}
            {% if item.situacao %}<td class="limitar"><a class="link_os" href="{% url 'obra_detalhar_os' obra.pk item.pk %}">{{item.get_situacao}}</td>{% else %}</a><td> - </td>{% endif %}               
            {% comment %} <td><a href="#" title="Ver OS: #"><span style="color: DodgerBlue;"><i class="fas fa-pen-square fa-lg"></i></span></a></td>    {% endcomment %}
        </tr>
        
        {% endfor %}
    </tbody>

</table>
</div>
<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'js/datatables.min.js' %}"></script>
{% block jquery %}

<script>
    $(document).ready(function () {
        $('.tabela-listar').DataTable({
            responsive: true,
            'dom':'<"pull-left"f><"pull-right"l>tip',
            "aaSorting": [],
            "pageLength": 25,
            "order": [
                [0, "asc"]
            ], 
            "language": {

                "decimal": ",",
                "emptyTable": "Sem registro",
                "info": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                "infoEmpty": "Mostrando de 0 até 0 de 0 registros",
                "infoFiltered": "(filtrado de _MAX_ registros no total)",
                "infoPostFix": "",
                "thousands": ".",
                "lengthMenu": "Mostrar _MENU_ registros",
                "loadingRecords": "A carregar dados...",
                "processing": "A processar...",
                "search": "Procurar:",
                "zeroRecords": "Não foram encontrados resultados",
                "paginate": {
                    "first": "Primeiro",
                    "last": "Último",
                    "next": "Seguinte",
                    "previous": "Anterior"
                },
                "aria": {
                    "sortAscending": ": ordem crescente",
                    "sortDescending": ": ordem decrescente"
                }
            }
        });

    });
</script>
{% endblock%}