{% extends "base.html" %}
{% load static %}
{% block titleHead %}Estoque - Ferramentas{% endblock %}
{% block styleHead %}
<style>
    .htmx-indicator {
        display:none;
        opacity: 0;
        transition: opacity 200ms ease-in;
    }
    .htmx-request {
      display:block;
      opacity: 1;
      transition: opacity 200ms ease-in;
    }
    
       table {
        border-collapse: collapse;
    
      } 
      
      .linha_clicavel {
        border: 1px solid black;
        cursor: pointer;
        
      } 
      
      .linha_clicavel:hover {
        background: #bad6f7 !important;
     
      }
      td a, td a:hover{
        text-decoration:none;
        color:black;
      }


      div.dataTables_filter input{
        width:40rem !important;
        margin-bottom:1rem;
     }
 
     .pull-left{
         float:left !important;
     }
 
     .pull-right{
         float:right !important;
     }
      
    
    </style>  
 
{% endblock %}

{% block conteudo %}

{% include "estoque_v2/fragmentos/menu_estoque.html" %}


<div class="container mt-2">

    <div class="d-flex flex-row align-items-center" >
        <h4 class="me-auto"><i class="fas fa-hammer"></i><i class="fas fa-wrench"></i> Ferramentas/Máquinas: </h4>

        <!-- Button Modal -->
        <a  style="" class="btn btn-sm  btn-primary m-1" data-bs-toggle="modal" data-bs-target="#acautelarFerramentaEstoquev2" href="modal" 
              title="Início"><i class="fas fa-user-clock"></i>  Acautelar</a>

        <!-- Modal Acautelar -->
        {% include "estoque_v2/fragmentos/modals/add_cautela_ferramenta_estoque.html" %}


        <a  style="" class="btn btn-sm  btn-dark m-1" data-bs-toggle="modal" data-bs-target="#modalAddNovaFerramentaEstoquev2" href="modal" 
              title="Início"><i class="fas fa-plus"></i>  Nova Ferramenta</a>

        <a  style="" class="btn btn-sm  btn-secondary m-1" href="{% url 'buscar_cautelas' %}" 
              title="Início"><i class="fas fa-search"></i></i> Buscar Cautelas</a>

        <a  style="" class="btn btn-sm  btn-secondary m-1" href="{% url 'buscar_ferramentas' %}" 
              title="Início"><i class="fas fa-search"></i></i> Buscar Ferramentas</a>


    </div>

</div>

{% comment %} {% include "estoque_v2/ferramentas/lista_cards_ferramentas.html" %} {% endcomment %}
{% include "estoque_v2/ferramentas/lista_cautelas_ativas.html" %}


{% include "estoque_v2/fragmentos/modals/add_cautela_ferramenta_estoque.html" %}
{% include "estoque_v2/fragmentos/modals/add_nova_ferramenta_estoque.html" %}

{% endblock %}
