{% extends "base.html" %}
{% load static %}
{% block titleHead %}Estoque - Requisições{% endblock %}
{% block styleHead %}
<style>
    .htmx-indicator {
        display:none;
        opacity: 0;
        transition: opacity 200ms ease-in;
    }
    .htmx-request {
      display:block;
      opacity: 1;
      transition: opacity 200ms ease-in;
    }
    
       table {
        border-collapse: collapse;
    
      } 
      
      .linha_clicavel {
        border: 1px solid black;
        cursor: pointer;
        
      } 
      
      .linha_clicavel:hover {
        background: #bad6f7 !important;
     
      }
      td a, td a:hover{
        text-decoration:none;
        color:black;
      }
      
    
    </style>  
 
{% endblock %}

{% block conteudo %}

{% include "estoque_v2/fragmentos/menu_estoque.html" %}


<div class="container mt-2">
    <div class="d-flex flex-row align-items-center" >
        <h4 class="me-auto"><i class="fas fa-cart-arrow-down"></i> Requisições do Estoque: </h4>

        <!-- Button Modal ADD REQUISIÇÃO -->
        <a  style="" class="btn btn-sm  btn-dark m-1" data-bs-toggle="modal" data-bs-target="#novaRequisicaoEstoquev2" href="novarequisicao" 
              title="Nova Requisição de Estoque"><i class="fas fa-plus"></i>  Nova Requisição</a>

        <a  style="" class="btn btn-sm  btn-secondary m-1" href="{% url 'buscar_requisicao_estoquev2' %}" title="Buscar Requisição de Estoque"><i class="fas fa-search"></i></i> Buscar Anteriores</a>

        {% comment %} <a  style="" class="btn  btn-sm btn-secondary m-1" href="{% url 'inicio_estoquev2' %}" 
              title="Início"><i class="fas fa-trash"></i> Excluir</a> {% endcomment %}
    </div>

</div>

<div class="container">
    Requisições do dia ({% now "d/m/Y" %}): 


    <hr>
  <div class="p-2" style="border-color: #093637;">
      <table class="table table-sm table-bordered table-striped tabelaResultados" style="font-size:9pt">
              <thead class="text-white text-center" style="background:#39423b;">
              <tr style="line-height: 12px;white-space: nowrap; ">
               
                <th scope="col">#</th>
                <th scope="col">Data</th>
                <th scope="col" style="text-align: left;">Solicitante</th>
                <th scope="col" style="text-align: left;">Local</th>
                <th scope="col" style="text-align: left;">Obra</th>
                <th scope="col">Almoxarife</th>

              </tr>
            </thead>
            <tbody>
              {% if requisicoes_do_dia %}
                {% for i in requisicoes_do_dia  %}

               <tr class='linha_clicavel'>

                  <td class="text-center"><a href="{% url 'detalhar_requisicao_de_estoque' i.pk %}"><div style="height:100%;width:100%">{{forloop.counter}}</div></a></td>
                  <td class="text-center"><a href="{% url 'detalhar_requisicao_de_estoque' i.pk %}"><div style="height:100%;width:100%">{{i.data|default_if_none:"-"|date:'d/m/Y'}}</div></a></td>
                  <td class="text-start"><a href="{% url 'detalhar_requisicao_de_estoque' i.pk %}"><div style="height:100%;width:100%">{{i.solicitante.nome|default_if_none:"-"}}</div></a></td>
                  <td class="text-start"><a href="{% url 'detalhar_requisicao_de_estoque' i.pk %}"><div style="height:100%;width:100%">{{i.local.local|default_if_none:"-"}}</div></a></td>
                  <td class="text-start"><a href="{% url 'detalhar_requisicao_de_estoque' i.pk %}"><div style="height:100%;width:100%">{{i.obra.nome|default_if_none:"-"}}</div></a></td>
                  <td class="text-center"><a href="{% url 'detalhar_requisicao_de_estoque' i.pk %}"><div style="height:100%;width:100%">{{i.almoxarife.get_full_name|default_if_none:"-"}}</div></a></td>
                
                </tr>
                {% endfor %}
              {% else %}
                   
              {% endif %}
          
            </tbody>
    </table>
  </div>

</div>
            <!-- Modal Adicionar Requisição -->
            <div class="modal fade" id="novaRequisicaoEstoquev2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-scrollable modal-lg">
                <div class="modal-content" style="background-color:#edeef5">
                    <div class="modal-header">
                        <div class="d-flex flex-column bd-highlight">
                            <h6 class="bd-highlight"><i class="fas fa-plus"></i> Nova Requisição: </h6>
                        </div>  
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">

                        <div class="container col-10">

                        <form id="formInserirRequisiçãov2"
                        hx-post="{% url 'criar_requisicao_sem_itens' %}" 
                        hx-target="body" 
                        hx-swap="innerHTML" >


                            <div class="form-group row mb-2 ">
                                <div class="">
                                 
                                        <label for="inputDescricao" class=""><i class="fas fa-hard-hat"></i> Funcionário/Solicitante:</label>
                                        <select id="input0" class="form-control "  name="solicitante">
                                            <option value="-1" selected disabled>Selecione:</option>
                                            {% for i in funcionarios_ativos %}
                                            <option value="{{i.pk}}"> {{i.nome}} - {{i.cargo}}</option>
                                            {% endfor %}      
                                        </select>
             
                                </div>
                            </div>

                            <div class="form-group row mb-2 ">
                                <div class="">
                                 
                                        <label for="inputDescricao" class=""><i class="fas fa-map-marker-alt"></i> Local:</label>
                                        <select id="input0" class="form-control "  name="local" >
                                            <option value="-1" selected disabled>Selecione:</option>
                                            {% for i in locais %}
                                            <option value="{{i.pk}}"> {{i.local}} - {{i.endereco}}</option>
                                            {% endfor %}      
                                        </select>
             
                                </div>
                            </div>

                            <div class="form-group row mb-2 ">
                                <div class="">
                                 
                                        <label for="inputDescricao" class=""><i class="fas fa-file-contract"></i> Obra:</label>
                                        <select id="input0" class="form-control "  name="obra">
                                            <option value="-1" selected disabled>Selecione:</option>
                                            {% for i in obras %}
                                            <option value="{{i.pk}}"> {{i.nome}} - Contrato: {{i.num_contrato}}</option>
                                            {% endfor %}      
                                        </select>
             
                                </div>
                            </div>


                        </form>
                        <div class="text-center text-danger" id="ErrorRequisicao"></div>
                        </div>
                                    
                            
                    </div>
                    <div class="modal-footer form-control" style="background-color:#edeef5"> 
                        <button class="btn btn-sm btn-success" form="formInserirRequisiçãov2"><i class="fas fa-plus"></i> Itens</button>      
                    <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Fechar</button>
                    
                    </div>
                </div>
                </div>
                </div>
                <!-- Fim Modal -->  







{% endblock%}
<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>  
{% block jquery %}
<script>


    $('.tabelaResultados').DataTable({
    responsive: true,
    // "bSort": false,
    "aaSorting": [],
    "pageLength": 10,
    "language": {

      "decimal": "",
      "emptyTable": "Vazio.",
      "info": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
      "infoEmpty": "Mostrando de 0 até 0 de 0 registros",
      "infoFiltered": "(filtrado de _MAX_ registros no total)",
      "infoPostFix": "",
      "thousands": ",",
      "lengthMenu": "Mostrar _MENU_ registros",
      "loadingRecords": "A carregar dados...",
      "processing": "A processar...",
      "search": "Busca nos resultados:",
      "zeroRecords": "Não foram encontrados resultados",
      "paginate": {
          "first": "Primeiro",
          "last": "Último",
          "next": "Seguinte",
          "previous": "Anterior"
      },
      "aria": {
          "sortAscending": ": ordem crescente",
          "sortDescending": ": ordem decrescente"
      }
    }
});
</script>
{% endblock%}





